.positionNow {
  line-height: .45rem;
  padding-left: .2rem; }

.navTitle {
  display: flex;
  padding: 0;
  background: #fff; }
  .navTitle div {
    padding: 0 2em;
    line-height: .5rem;
    position: relative;
    align-items: center;
    justify-content: center; }
    .navTitle div span {
      font-size: 20px;
      width: 100%;
      display: block; }
    .navTitle div img {
      width: .12rem;
      height: .08rem;
      position: absolute;
      right: .07rem;
      top: 50%;
      transform: translate(0, -50%); }

.checkedResume {
  color: #fff;
  background: #31BEFF; }

.accountInfo {
  padding: .33rem 1.71rem .47rem .27rem;
  background: #fff;
  margin-bottom: .2rem; }
  .accountInfo input {
    height: .34rem;
    line-height: .34rem;
    border-radius: 4px;
    outline: none;
    border: 1px solid #B5B5B5;
    padding: 0 .2rem; }
  .accountInfo .tab {
    font-size: 14px;
    align-items: center; }
    .accountInfo .tab > div {
      display: flex;
      align-items: center;
      margin-bottom: .35rem; }
    .accountInfo .tab .tip {
      display: inline-block;
      margin-right: .14rem;
      min-width: 6em;
      text-align: right;
      padding: .1rem 0; }
    .accountInfo .tab .half + .half {
      margin-left: .47rem; }
    .accountInfo .tab .half input {
      width: 3.75rem; }
    .accountInfo .tab .whole input {
      width: 9.04rem; }
    .accountInfo .tab .bold {
      margin-left: .32rem;
      line-height: .3rem;
      font-weight: 600;
      font-size: 20px; }
    .accountInfo .tab .avatar label {
      width: .78rem;
      height: .78rem;
      border-radius: 50%;
      overflow: hidden;
      background: #363636; }
      .accountInfo .tab .avatar label img {
        width: 100%;
        height: 100%; }
    .accountInfo .tab .LOGO label {
      width: 1.07rem;
      height: 1.07rem;
      overflow: hidden;
      background: #363636;
      border-radius: 4px; }
      .accountInfo .tab .LOGO label img {
        width: 100%;
        height: 100%; }
    .accountInfo .tab .license {
      align-items: flex-start; }
      .accountInfo .tab .license label {
        width: 1.93rem;
        height: 2.56rem;
        overflow: hidden;
        background: #363636;
        border-radius: 4px; }
        .accountInfo .tab .license label img {
          width: 100%;
          height: 100%; }
    .accountInfo .tab .tel input::placeholder {
      text-align: center;
      color: #B5B5B5; }
    .accountInfo .tab .tel input + input {
      margin-left: .19rem; }
    .accountInfo .tab .intro {
      align-items: flex-start; }
      .accountInfo .tab .intro textarea {
        width: 8.97rem;
        height: 2.51rem; }
  .accountInfo .quarter {
    width: 1.22rem; }
  .accountInfo .twoQuarter {
    width: 2.25rem; }
  .accountInfo .address_s {
    width: 1.14rem; }
  .accountInfo .address_l {
    width: 7.74rem;
    margin-left: .09rem; }
  .accountInfo .postalCode input {
    width: 3.29rem; }
  .accountInfo .update {
    margin-top: .68rem; }

/*# sourceMappingURL=accountManage.css.map */
