
.checkBox{
    margin-bottom: .1rem;
}
.checkBox>div{
    background: #fff;
    padding: .28rem .09rem .35rem .18rem;
}
.checkBox .row{
    display: flex;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*padding: 10px 20px;*/
    font-size: 16px;
    margin: 0;
    /*margin-left: 15px;*/
}
.optRow+.optRow{
    margin-top: .23rem;
}
.checkBox .boonRow .choice{
    width: 9.72%;
}
/*.boonRow .choice3 span{*/
    /**/
/*}*/
.checkBox .row>span{
    text-align: center;
    width: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding: 5px 12px;*/
}
.checkBox .row>select{
    width: 12.5%;
}
.checkBox .row>span:first-child{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0;
}
.checkBox .row>span:first-child span{
    margin-left: .3rem;
    padding: 5px 12px;
}
/*.checkBox .row .choice{*/
    /*text-align: left;*/
/*}*/
.getMore{
    padding: .05rem .1rem;
    /*border: 1px solid #f00;*/
}
.leftNav{
    background: #fff;
    border-bottom: 1px solid gainsboro;
}
.leftNav>div{
    display: inline;
    align-items: center;
    line-height: .5rem;
    padding: .12rem .14rem;
    font-size: 20px;
    font-weight: 600;
}
.leftNav span{
    margin-right: .14rem;
}
.enterNav .companyName{
    border-radius: .1rem;
}
.enterNav .row1{
    position: relative;
    margin-bottom: 0;
    justify-content: flex-start;
    padding: 15px;
}
.enterNav .row1 .sec{
    margin-left: .25rem;
}
.enterNav .occupation{
    padding: .08rem;
    background: #fff;
}

.leftTwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row1:hover{
    border: 1px solid #f61111;
}
.row1:hover img{
    box-shadow:2px 2px 5px rgba(0,0,0, 0.15);
}
.row1 img{
    padding: 0;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid gainsboro;
}
.row1 .thi{
    position: absolute;
    width: 33%;
    margin-left: 1.27rem;
    right: 20px;
}
.thi .line1{

}
.thi .jobs{
    padding: 0 .1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.thi .jobs span{
    box-sizing: border-box;
    /*margin-right: .1rem;*/
    margin-top: .15rem;
    padding: .04rem .15rem;
    border: 1px solid #c20c0c;
    border-radius: 1.1rem;
    font-size: 12px;
}
.thi .jobs span:hover{
    background: #f61111;
    color: white;
    border: none;
}
.checkedNav{
    background: #f00;
    color: #fff;
}
.RHshell{
    padding: .1rem 0;
    background: #fff;
    margin-bottom: .05rem;
}
.rightHeader{
    font-size: 20px;
    font-weight: 600;
    padding: 0 .15rem;
    border-left: 3px solid #f00;
}
.recommend .companyName{
    width: 1.98rem;
    height: 2rem;
    font-size: 50px;
    text-align: center;
    margin: .1rem auto 0rem
}
.recommend .occupation{
    border: none;
    background: #fff;
    margin-bottom: 10px;
}
.enterName{
    background: #fff;
    padding-bottom: .2rem;
}