@import "lib/footer.css";
@import "lib/header.css";
/*.nav div:nth-child(3){*/
    /*border-bottom: 5px solid #e11c19;*/
/*}*/
.checkBox{
    margin-bottom: .1rem;
}
.checkBox>div{
    background: #fff;
    padding: .28rem .09rem .35rem .18rem;
}
.checkBox .row{
    display: flex;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*padding: 10px 20px;*/
    font-size: 16px;
    margin: 0;
    /*margin-left: 15px;*/
}
.optRow+.optRow{
    margin-top: .23rem;
}
.checkBox .boonRow .choice{
    width: 9.72%;
}
.boonRow .choice3 span{
    display: inline-block;
    margin: 0 auto;
    padding: 5px 12px;
}
.checkBox .row>span{
    text-align: center;
    width: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding: 5px 12px;*/
}
.checkBox .row>select{
    width: 12.5%;
}
.checkBox .row>span:first-child{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0;
}
.checkBox .row>span:first-child span{
    margin-left: .3rem;
    padding: 5px 12px;
}
/*.checkBox .row .choice{*/
    /*text-align: left;*/
/*}*/
.getMore{
    padding: .05rem .1rem;
    border: 1px solid #f00;
}
.leftNav{
    background: #fff;
}
.leftNav>div{
    display: inline;
    align-items: center;
    line-height: .5rem;
    padding: .1rem .14rem;
    font-size: 20px;
    font-weight: 600;
}
.leftNav span{
    margin-right: .14rem;
}
.enterNav .companyName{
    border-radius: .1rem;
}
.enterNav .row1{
    position: relative;
    margin-bottom: 0;
    justify-content: flex-start;
}
.enterNav .row1 .sec{
    margin-left: .25rem;
}
.enterNav .occupation{
    padding: .08rem;
    background: #fff;
}
.leftTwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row1 .thi{
    position: absolute;
    width: 33%;
    margin-left: 1.27rem;
    right: 0;
}
.thi .line1{

}
.thi .jobs{
    padding: 0 .1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.jobs span{
    box-sizing: border-box;
    margin-right: .1rem;
    margin-top: .1rem;
    padding: .07rem .05rem;
    border: 1px solid #f00;
    border-radius: .1rem;
    font-size: 12px;
}
.checkedNav{
    background: #f00;
    color: #fff;
}
.RHshell{
    padding: .1rem 0;
    background: #fff;
    margin-bottom: .05rem;
}
.rightHeader{
    font-size: 20px;
    font-weight: 600;
    padding: 0 .15rem;
    border-left: 3px solid #f00;
}
.recommend .companyName{
    width: 106px;
    height: 106px;
    font-size: 50px;
    text-align: center;
    margin: .2rem auto .25rem;
}
.recommend .occupation{
    border: none;
    background: #fff;
}
.enterName{
    background: #fff;
    padding-bottom: .37rem;
}