.position{
  background: #fff;
  padding: .1rem 0;
  margin-bottom: .1rem;
  .position_left{
    font-weight: 600;
    border-left: 4px solid #f00;
    padding-left: .17rem;
  }
}
.jobs{
  padding: 0 .15rem;
  background: #fff;
  margin-bottom: .1rem;
}
.enterDesc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .41rem .28rem .4rem .35rem;
  margin-bottom: .1rem;
  background: #fff;
  .enterLeft{
    display: flex;
    align-content: center;
    margin-right: 2rem;
    &>img{
      margin-right: .3rem;
    }
    .enterName{
      font-size: 22px;
      font-weight: 600;
    }
    .about{
      font-size: 16px;
      margin-bottom: .3rem;
    }
    .happy{
      display: flex;
      margin-bottom: .44rem;
      span{
        margin-right: .05rem;
        padding: 0 .15rem;
        line-height: .3rem;
        color: #fff;
        background: #ee7775;
      }
    }
    .count{
      display: flex;
      justify-content: space-between;
      &>div{
        flex: 1;
        padding-top: .05rem;
        text-align: center;
        border-right: 1px solid #e5e5e5;
        &>div{
          font-size: 24px;
          font-weight: 600;
          margin-bottom: .15rem;
          color: #dd1c19;

        }
      }
      &>div:last-child{
        border-right: 0;
      }
    }
  }
  .enterRight{
    padding:  0 .4rem 0 .3rem ;
    &>div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: .45rem;
      border-bottom: 1px solid #e5e5e5;
      .verify{
        text-align: center;
        font-size: 12px;
        img{
          margin-bottom: .16rem;
        }
        div{
          margin: 0 .15rem;
        }
      }
    }
    button{
      margin: .4rem auto 0;
      width: 70%;
      line-height: .5rem;
      background: #f00;
      color: #fff;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
.contact{
  padding: .3rem .45rem;
  margin-bottom: .1rem;
  background: #fff;
  display: flex;
  align-items: center;
  .email{
    margin-right: .2rem;
    //padding: .42rem 0;
    //background: #f00;
  }
  &>div{
    display: flex;
    align-items: center;
    font-size: 18px;
    .imgShell{
      width: .16rem;
      text-align: center;
      margin-right: .15rem;
    }
  }
}
.intro{
  padding: .25rem 0;
  background: #fff;
  span{
    font-size: 20px;
    font-weight: 600;
    color: #f00;
    padding-left: .15rem;
    border-left: 4px solid #f00;
  }
}
.introduction{
  background: #fff;
  overflow: hidden;
  .text{
    width: 90%;
    margin: 0 auto .3rem;
  }
}
.jobs{
  //display: flex;
  //justify-content: space-between;
  .occupation{
    background: #fff;
  }
  .row1{
    margin-bottom: 0;
  }
  .leftTwo{
    display: flex;
    align-items: center;
    img{
      margin-right: .27rem;
      border-radius: .1rem;
      border: 1px solid #eee;
      padding: 1px;
    }
  }
  .demand{
    margin-top: .3rem;
  }
  .thi{
    display: flex;
    align-items: center;
    .thi_L{
      margin-right: 3.6rem
    }
    .thi_R{
      display: flex;
      flex-direction: column;
      align-items: center;
      span{
        background: #f00;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        line-height: .38rem;
        padding: 0 .15rem;
      }
      .update{
        margin-top: .12rem;
      }
    }
  }
}