@import "lib/footer.css";
@import "lib/header.css";
/*.nav div:nth-child(3){*/
    /*border-bottom: 5px solid #e11c19;*/
/*}*/
.checkBox{
    margin-bottom: .1rem;
}
.checkBox>div{
    background: #fff;
}
.checkBox .row{
    display: flex;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 15px;
}
.checkBox .row>span{
    /*min-width: 10vw;*/
    text-align: center;
    padding: 10px 20px;
}
.checkBox .row:first-child{
    min-width: 10vw;
    text-align: left;

}
.checkBox .row>div{
    /*min-width: 10vw;*/
}
.checkBox .row .all{
    background: #f61111;
    color: #fff;
    padding: .05rem .1rem;
    margin-top: 5px;
    display: inline-block;
}
.getMore{
    padding: .05rem .1rem;
    border: 1px solid #f00;
}
.leftNav{
    background: #fff;
    border-bottom: 1px solid gainsboro;
}
.leftNav>div{
    display: inline;
    align-items: center;
    line-height: .5rem;
    padding: 12px;
    font-size: 20px;
    font-weight: 600;
}
.leftNav span{
    margin-right: .14rem;
}
.enterNav .companyName{
    border-radius: .1rem;
}
.enterNav .row1{
    position: relative;
    margin-bottom: 0;
    justify-content: flex-start;
}
.enterNav .row1 .sec{
    margin-left: .25rem;
}
/*.enterNav .occupation{*/
    /*padding: .18rem;*/
    /*background: #fff;*/
/*}*/

.leftTwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row1 .thi{
    position: absolute;
    width: 33%;
    margin-left: 1.27rem;
    right: 0;
}
.thi .line1{

}
.thi .jobs{
    padding: 0 .1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.thi .jobs span{
    box-sizing: border-box;
    /*margin-right: .1rem;*/
    margin-top: .15rem;
    padding: .04rem .15rem;
    border: 1px solid #c20c0c;
    border-radius: 1.1rem;
    font-size: 12px;
}
.thi .jobs span:hover{
    background: #f61111;
    color: white;
    border: none;
}
.checkedNav{;
    background:#f61111;
    color: #fff;
}
.RHshell{
    padding: .1rem 0;
    background: #fff;
    margin-bottom: .05rem;
}
.rightHeader{
    font-size: 20px;
    font-weight: 600;
    padding: 0 .15rem;
    border-left: 3px solid #f00;
}
.recommend .companyName{
    width: 2rem;
    height: 2rem;
    font-size: 50px;
    text-align: center;
    margin: .2rem auto .25rem;
}
.recommend .occupation{
    border: none;
    background: #fff;
    margin-bottom: 10px;
}
.enterName{
    background: #fff;
    padding-bottom: .2rem;
}