@import url('../css/work.css');
.huntbg{
    width: 100%;
    height: 100%;

}
.hunt-top{
    position: relative;
    z-index: 2;
}
.aboutus{
    height: 79px;
    margin-left: 27px;
    font-size: 64px;
    font-family: 微软雅黑;
    font-weight: bold;
    color: rgba(255,255,255,1);
    opacity: 0.6;
    margin-top: 10px;
}
.textborder{
    width:343px;
    height:4px;
    background:rgba(255,255,255,1);
    border-radius:2px;
}
.aboutus-content{
    margin-top: 20px;
    margin-bottom: 30px;
}
.aboutus-content div{
    font-size:20px;
    font-family:微软雅黑;
    font-weight:400;
    color:rgba(0,0,0,1);
    line-height:45px;
    text-indent: 40px;
}
.handhunt-title{
    margin:20px;
}
.handhunt-title1{
    font-size:37px;
    font-family:微软雅黑;
    font-weight:bold;
    color:rgba(255,0,0,1);
    line-height:56px;
    text-align: center;
}
.handhunt-title2{
    font-size:20px;
    font-family:微软雅黑;
    font-weight:400;
    color:rgba(185,185,185,1);
    line-height:45px;
    text-align: center;
}
.border1{
    width: 280px;
    height: 280px;
    border: 2px rgba(194,12,12,1) dotted;
    border-radius: 50%;
    position: absolute;
}
.border2{
    width: 280px;
    height: 280px;
    /* opacity: 0.6; */
    border-radius: 50%;
    position: relative;
    z-index: 2;
    text-align: center;
}
.border2 img{
    width: 250px;
    height: 250px;
    margin-top: 15px;
}
.border2 :hover{
    opacity: 1;
}
.bordertext:hover{
    background-color: #f61111;
}
.bordertext{
    width: 249px;
    height: 38px;
    background: #c20c0c;
    position: relative;
    z-index: 2;
    margin-top: -140px;
    margin-left: 16px;
    padding: 7px;
    color: white;
}
.bordertitle{
    position: relative;
    z-index: 2;
    margin-top: -125px;
    display: inherit;
    font-size: 39px;
    font-family: 微软雅黑;
    font-weight: bold;
    color: rgba(255,255,255,1);
    line-height: 88px;
}
.hunt-part1{
    display: inline-block;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    padding: 20px 0px;
    margin:10px ;
}
.hunt-banner-box{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hunt-banner{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.hunt-banner-content{
    padding: 35px 0;
}

.hunt-title{
    border-left: 5px red solid;
}
.hunt-title span{
    margin-left: 15px;
    font-weight: 600;
    font-size: 18px;
    color: red;
}
.hunt-list1{
    margin: 1% 2%;
    display: flex;
    width: 46%;
    border: 1px solid gainsboro;
    padding: 10px;
    float: left;
    cursor: pointer;
}
.hunt-list1 img{
    width: 100px;
    height: 136px;
}
.hunt-list1:hover{
    border: 1px solid red;
}
.hunt-list1:hover .hunt-btn {
    background: #f61111;
}
.hunt-money{
    background-color: f61111;
    width: 50px;
    height: 70px;
}
.hunt-list-right{
    float: left;
    margin: 0px 23px 0px 23px;
    width: 76%;
}
.demand{
    padding-top: 15px;
}
.hunt-btn{
    background: #f61111;
    color: white;
    text-align: center;
    float: right;
    padding: 6px 32px;
    margin-top: -15px;
    border: none;
}
.grayB{
    font-size: 14px;
    color: black;
}
.moreimg{
    /*margin-right: -2.82rem;*/
    margin-top: 25px;
}
.hunt-list2{
    margin: 20px 12px;
    box-shadow: 1px 1px 4px #999;
    width: 23%;
    float: left;
}
.hunt-list2 div:last-child{
    padding-bottom: 25px;
}
.hunt-list2-name{
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 600;
}
.hunt-list2 div:first-child{
    background-color: rgb(167,247,178);
    cursor: pointer;
}
/*.hunt-list2 div:nth-child(2){*/
    /*background-color: #7ddbff;*/
/*}*/
/*.hunt-list2 div:nth-child(3){*/
    /*background-color: rgb(167,247,178);*/
/*}.hunt-list2 div:nth-child(4){*/
     /*background-color: rgb(166,179,247);*/
 /*}*/
.hunt-part-bg1{
    background-color: #ffe748;
}
.hunt-part-bg2{
  background-color: #7ddbff;
}
.hunt-part-bg3{
    background-color: rgb(167,247,178);
}
.hunt-part-bg4{
    background-color: rgb(166,179,247);
}
.hunt-list2-money{
    padding: 15px 10px 4px 15px;
    color: red;
    font-weight: 600;
}
.hunt-list2-money span:first-child{
    font-size: 18px;
}
/*.hunt-list2-money span:last-child{*/
    /*font-size: 13px;*/
/*}*/
.border-go{
    border: 2px solid white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    text-align: center;
}
.hunt-list2-intr{
    padding: 10px;
    font-size: 17px;
}
.hunt-list2:hover{
    box-shadow: 1px 1px 6px red;
}
.hunt-list3{
    box-shadow: 1px 1px 6px #999;
    width: 22%;
    float: left;
    margin: 15px 20px;
}
.hunt-list3:hover{
    border: 1px solid #f61111;
}
.hunt-list3:hover button{
    background-color: #c20c0c;
}
.hunt-serve{
    border-bottom: 1px solid gainsboro;
    margin: 15px 18px;
    float: left;
    width: 85%;
}
.hunt-serve img{
    float: left;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 1px solid #f61111;
    margin-left: 0.3rem;
    width: 84px;
    height: 84px;
}
.hunt-serve-content{
    padding: 0 15px 10px 15px;
    display: inline-block;
    width: 100%;
}
.hunt-serve-content div{
    font-size: 14px;
    padding-top: 13px;
}
.hunt-serve-content span{
    color: #f61111;
}
.hunt-serve-content button{
    border: none;
    background-color: #c20c0c;
    text-align: center;
    margin: 10% 25%;
    padding: 2% 0%;
    width: 50%;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.font-hidden{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 257px;
}
.hunt-serve-name span{
    margin: 7px 16px;
    display: inline-block;
}
.hunt-serve-name span:first-child{
    font-weight: bolder;
    font-size: 20px;
    margin-top: 27px;
}
.center{
    text-align: center;
}
.mojor-serve span:first-child{
    font-size:26px;
    font-family:微软雅黑;
    font-weight:bold;
    color:rgba(255,0,0,1);
    line-height:56px;
}
.mojor-serve span:last-child{
  margin-left: 10px;
    font-size:16px;
    font-family:微软雅黑;
    font-weight:400;
    color:rgba(0,0,0,1);
    line-height:56px;
}
.serve-item{
    display: flex;
    flex-direction: row;
}
.serve-item-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 30px 50px 0;
    width: calc(100% - 120px/4);
    padding: 23px;
    text-align: center;
    background: white;
    border: 1px solid gainsboro;
    border-radius: 10px;
    height: 310px;
    border: 1px solid rgba(194,12,12,1);
}
/*.serve-item-info:hover{*/
    /*border: 1px solid rgba(194,12,12,1);*/
/*}*/
.serve-item-img{
    width: 137px;
    height: 120px;
    margin: 15px 0;
}
.serve-item-name{
    font-size:26px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(255,0,0,1);
    line-height:56px;
}
.serve-item-title{
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(0,0,0,1);
    line-height:22px;
}
.serve-process{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.serve-process-img{
    margin: 55px 0;
}
.hunt-advan-img{
    width: 100%;
    height: 841px;
    position: absolute;
}
.ouradvan{
    font-size:26px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(255,0,0,1);
    line-height:56px;
    margin: 42px 0;
}
.advan-info{
    font-size:20px;
    font-family:MicrosoftYaHei;
    color:rgba(0,0,0,1);
    line-height:39px;
    text-align: left;
}
.advan-title{
    font-weight: Bold;
    font-family: MicrosoftYaHei-Bold;
}
.advan-content{
margin-bottom: 35px;
}
.btn-img{
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
.line{
    font-size: 24px;
    color: #f61111;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.line-div{
    font-size: 20px;
    margin: 15px;
}
.line-div img{
    margin-right: 15px;
}
.line-div img:last-child{
    width: 15px;
    height: 21px;
}