/*.work-body .positionLeft{*/
    /*width: 100%;*/
/*}*/
.personnel-select{
    width: 95%;
    margin-left: 1%;
}
.personnel-select-fir{
    font-family: 黑体;
    font-weight: 600;
    list-style: none;
    float: left;
    padding: 10px 11px 0 25px;
}
.personnel-select-li{
    list-style: none;
    float: left;
    padding: 10px 11px 0 5px;
    font-size: 13px;
}
.personnel-active{
    color: red;
}
.position-tj{
    float: left;
    width: 100%;
}
.personnel-img{
    float: left;
    border: 1px solid red;
    border-radius: 50px;
    width: 83px;
    height: 83px;
}
.personnel-demo{
    margin: 15px 0;
}
.personel-list-center{
    float: left;
    padding: 13px 13% 0px 13%;
    border-right: 1px solid gainsboro;
}
.personnel-list{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gainsboro;
}
.personnel-list-div{
    width: 33.3333%;
}
.person-list-btn{
    float: right;
    text-align: right;
    margin-right: 25px;
}
.person-list-intr{
    margin-left: 10px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 67%;
}
.person-first{
    flex-direction: row;
    display: flex;
}
.person-list-money{
    color: red;
    font-size: 17px;
}
.person-list-money span{
    margin: 10px;
    display: inline-block;
}
.headImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;
}
