@import url(../css/enterprise.css);
.infoHeader {
  padding: .25rem 0;
  background: #fff;
  font-size: 20px;
  color: #f00;
  font-weight: 600; }
  .infoHeader span {
    padding-left: .1rem;
    border-left: 4px solid #f00; }

.info {
  display: flex;
  padding: .35rem .28rem .18rem .25rem;
  background: #fff;
  position: relative; }
  .info .avatar {
    margin-right: .5rem; }
  .info .fill1 .real_name {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0; }
  .info .fill1,
  .info .fill2 {
    margin-right: 1.26rem; }
    .info .fill1 div,
    .info .fill2 div {
      padding-bottom: .32rem; }
  .info .editIcon {
    position: absolute;
    right: .28rem;
    top: .35rem; }
  .info .editTable {
    z-index: 333;
    top: .23rem;
    left: .4rem;
    right: .4rem;
    background: #fff;
    padding: .25rem; }
    .info .editTable form {
      position: relative; }
      .info .editTable form > img {
        position: absolute;
        right: -.15rem;
        top: -.15rem; }
      .info .editTable form .duration {
        padding-top: .3rem; }
        .info .editTable form .duration > div {
          display: flex;
          justify-content: space-between; }
          .info .editTable form .duration > div input {
            width: 45%; }
    .info .editTable .aim {
      padding-top: .3rem; }
    .info .editTable .table2 .salary div {
      display: flex;
      justify-content: space-between; }
      .info .editTable .table2 .salary div input {
        width: 45%; }
    .info .editTable input,
    .info .editTable select {
      width: 100%;
      margin-bottom: .2rem; }
  .info .jobExp .tails {
    padding-bottom: .15rem;
    border-bottom: 1px solid #e8e8e8; }
  .info .jobExp .major {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: .27rem;
    padding-top: .2rem; }
    .info .jobExp .major .compName,
    .info .jobExp .major .ocp {
      font-weight: 600; }
    .info .jobExp .major .modify {
      color: #fff;
      background: #ffaa00;
      font-size: 12px;
      padding: .1rem .2rem;
      line-height: .2rem; }
    .info .jobExp .major .delete {
      color: #fff;
      background: #ef5f5f;
      font-size: 12px;
      padding: .1rem .2rem;
      line-height: .2rem; }

.jobExpShell {
  padding-top: 0;
  padding-bottom: 0; }

.addExp {
  padding: .3rem 0;
  font-size: 16px;
  background: #fff;
  position: relative; }
  .addExp > span {
    display: block;
    text-align: center;
    width: 100%; }
  .addExp .editTable {
    z-index: 333;
    background: #fff;
    padding: .25rem; }
  .addExp form {
    position: relative; }
    .addExp form > img {
      position: absolute;
      right: -.15rem;
      top: -.15rem; }
    .addExp form input {
      width: 100%;
      margin-bottom: .2rem; }
    .addExp form .duration {
      padding-top: .3rem; }
      .addExp form .duration > div {
        display: flex;
        justify-content: space-between; }
        .addExp form .duration > div input {
          width: 45%; }

.eduShell .eduExp {
  width: 100%;
  padding: .3rem 0;
  font-size: 16px;
  background: #fff;
  position: relative;
  border-bottom: 1px solid #ddd; }
.eduShell .major {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-bottom: .27rem;
  padding-top: .2rem; }
  .eduShell .major .campName {
    font-weight: 600; }

.addEdu {
  position: relative; }
  .addEdu > span {
    padding: .3rem 0;
    display: block;
    text-align: center;
    width: 100%;
    background: #fff; }
  .addEdu .editTable {
    z-index: 333;
    position: absolute;
    top: -4rem;
    left: .4rem;
    right: .4rem;
    background: #fff;
    border: 1px solid #f00;
    padding: .25rem; }
  .addEdu form {
    position: relative; }
    .addEdu form > img {
      position: absolute;
      right: -.15rem;
      top: -.15rem; }
    .addEdu form input {
      width: 100%;
      margin-bottom: .2rem; }
    .addEdu form .duration {
      padding-top: .3rem; }
      .addEdu form .duration > div {
        display: flex;
        justify-content: space-between; }
        .addEdu form .duration > div input {
          width: 45%; }

.docName {
  padding: .25rem;
  background: #fff;
  margin-bottom: .1rem; }
  .docName .name {
    font-size: 16px; }
    .docName .name img {
      margin-right: .15rem;
      vertical-align: sub; }
  .docName label {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-top: .5rem;
    line-height: .5rem;
    padding: 0 1rem;
    border-radius: .05rem;
    background: #f00; }
    .docName label div {
      min-width: 4em; }
  .docName > span {
    padding-top: .5rem; }

.recommend .fileUp {
  margin-bottom: 0; }

/*# sourceMappingURL=resume.css.map */
