.search_s {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: .49rem;
  margin: .11rem auto; }
  .search_s input {
    padding: 0;
    width: 7.3rem;
    line-height: .49rem;
    background: #fff;
    border: none;
    outline: none; }
  .search_s .input {
    padding-left: .14rem;
    border: 1px solid #C3C3C3; }
  .search_s span {
    line-height: .49rem;
    padding: 0 .3rem;
    background: #31BEFF;
    color: #fff;
    border: 1px solid #31BEFF; }

.options {
  font-size: 16px;
  padding: .24rem .1rem .27rem .17rem;
  margin: .11rem auto;
  background: #fff; }

.position {
  display: flex; }
  .position .ocp {
    padding: .05rem .12rem; }
  .position .ocp + .ocp {
    margin-left: .18rem;
    border: 1px solid gainsboro;
    background: white;
  }

.position select {
  border: 1px solid #f00; }

.demand {
  display: flex;
  margin-top: .31rem; }
  .demand .ocp {
    padding: .05rem .12rem; }
  .demand .ocp:nth-child(2) {
    margin-right: .46rem;
    margin-left: .18rem; }
  .demand .select {
    box-sizing: border-box;
    /*-moz-appearance: none;*/
    /* Firefox */
    /* Firefox */
    /*-webkit-appearance: none;*/
    /* Safari and Chrome */
    /*background: url("../image/home/selectIcon.png") no-repeat right center transparent;*/
    -webkit-background-size: .28rem 100%;
    background-size: .28rem 100%;
    padding: 0 .5rem 0 .19rem; }
  .demand select + select {
    margin-left: .5rem; }

.navTitle {
  display: flex;
  padding: 0;
  background: #fff; }
  .navTitle div {
    padding: 0 2em;
    line-height: .5rem;
    position: relative;
    align-items: center;
    justify-content: center; }
    .navTitle div span {
      font-size: 20px;
      width: 100%;
      display: block; }
    .navTitle div img {
      width: .12rem;
      height: .08rem;
      position: absolute;
      right: .07rem;
      top: 50%;
      transform: translate(0, -50%); }

.checkedResume {
  color: #fff;
  background: #31BEFF; }

.main_content {
  background: #fff;
  margin-bottom: .25rem;
  padding: 0; }
  .main_content > div:hover {
    border: 1px solid #E21C19; }
  .main_content > div {
    font-size: 14px;
    color: #393939;
    padding: .26rem .22rem .36rem;
    display: flex;
    border: 1px solid #B5B5B5;
    margin-bottom: -1px;
    cursor: pointer; }
    .main_content > div .lPart {
      width: 40%;
      display: flex;
      align-items: center; }
      .main_content > div .lPart > img {
        width: 1.16rem;
        height: 1.16rem;
        border-radius: 50%;
        border: 1px solid #E21C19; }
      .main_content > div .lPart .onLeft {
        display: flex;
        align-items: flex-end; }
        .main_content > div .lPart .onLeft .left1 {
          margin-left: .3rem; }
          .main_content > div .lPart .onLeft .left1 .nameAndOcp {
            display: flex;
            align-items: flex-end; }
            .main_content > div .lPart .onLeft .left1 .nameAndOcp .name {
              font-size: 20px;
              font-weight: 600; }
            .main_content > div .lPart .onLeft .left1 .nameAndOcp img {
              width: .21rem;
              height: .2rem;
              margin-left: .08rem;
              margin-right: .17rem; }
            .main_content > div .lPart .onLeft .left1 .nameAndOcp .position {
              color: #E21C19;
              font-size: 24px; }
          .main_content > div .lPart .onLeft .left1 .intro {
            margin: .23rem 0 .21rem; }
    .main_content > div .face {
      border-right: 1px solid #c3c3c3; }
    .main_content > div .cPart {
      width: 35%;
      padding-left: 100px;
      /*border-left: 1px solid #ccc;*/
    }
.main_content > div .cPart .right1 {
      margin-top: 55px;
    }
    .onRight{
      display: flex;
      flex-direction: column;
    }
      .main_content > div .cPart .right1 span {
        padding-left: .42rem;
        margin-bottom: .21rem; }
      .main_content > div .cPart .right1 .right1Info {
        padding-left: .86rem; }
        .main_content > div .cPart  .right1Info div {
          margin-top: .11rem; }
      .main_content > div .cPart .like {
        margin-bottom: .24rem; }
    .main_content > div .rPart {
      width: 24%;
      border-left: 1px solid #c3c3c3; }
      .main_content > div .rPart .updateAt {
        font-size: 12px; }
      .main_content > div .rPart .button {
        display: inline-block;
        line-height: .38rem;
        margin: 0 auto;
        padding: 0 .3rem;
        font-size: 18px;
        background: #E21C19;
        color: #fff; }
      .main_content > div .rPart div:nth-child(2) {
        margin: .13rem auto; }

.main > div .rPart .viewedResume {
  background: #cacaca; }

.main > div .rPart .faced {
  background: #cacaca; }

/*# sourceMappingURL=resumeManage.css.map */
