@import "../css/enterprise.css";
.infoHeader{
  padding: .25rem 0;
  background: #fff;
  font-size: 20px;
  color: #f00;
  font-weight: 600;
  span{
    padding-left: .1rem;
    border-left: 4px solid #f00;
  }
}
.info{
  display: flex;
  padding: .35rem .28rem .18rem .25rem;
  background: #fff;
  position: relative;
  .avatar{
    margin-right: .5rem;
    img{
      width: 111px;
      height: 111px;
      border-radius: 50%;
    }
  }
  .fill1 .real_name,
  .fill2 .real_name{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
  }
  .fill1,
  .fill2{
    width: 50%;
    div{
      padding-bottom: .32rem;
    }
  }
  .editIcon{
    position: absolute;
    right: .28rem;
    top: .35rem;
    cursor: pointer;
  }
  .editIcon1{
    position: absolute;
    right: .28rem;
    top: -.55rem;
    cursor: pointer;
  }
  .editTable{
    z-index: 333;
    background: #fff;
    padding: .25rem;
    form{
      position: relative;
      &>img{
        position: absolute;
        right: -.15rem;
        top: -.15rem;
      }
      .duration{
        padding-top: .3rem;
        &>div{
          display: flex;
          justify-content: space-between;
          input{
            width: 45%;
          }
        }
      }
    }
    .table2 .salary div{
      display: flex;
      justify-content: space-between;
      input{
        width: 45%;
      }
    }
    input,
    select{
      width: 100%;
      margin-bottom: .2rem;
    }
  }
  .jobExp{
    width: 100%;
    .tails{
      padding-bottom: .15rem;
      border-bottom: 1px solid #e8e8e8;
    }
    .major{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      margin-bottom: .27rem;
      padding-top: .2rem;
      &>div{
        width: 25%;
        font-weight: 600;
      }
      .compName,
      .ocp{
        font-weight: 600;
        text-align: center;
      }
      .modify{
        color: #fff;
        background: #ffaa00;
        font-size: 12px;
        padding: .1rem .2rem;
        line-height: .2rem;
      }
      .delete{
        float: right;
        color: #fff;
        background: #ef5f5f;
        font-size: 12px;
        padding: .1rem .2rem;
        line-height: .2rem;
        cursor: pointer;
      }
    }
  }
}
.info_mb{
  margin-bottom: .1rem;
}
.jobExpShell{
  padding-top: 0;
  padding-bottom: 0;
}
.addExp{
  padding: .3rem 0;
  font-size: 16px;
  background: #fff;
  position: relative;
  &>span{
    display: block;
    text-align: center;
    width: 100%;
  }
  form{
    position: relative;
    &>img{
      position: absolute;
      right: -.15rem;
      top: -.15rem;
    }
    input{
      width: 100%;
      margin-bottom: .2rem;
    }
    .duration{
      padding-top: .3rem;
      &>div{
        display: flex;
        justify-content: space-between;
        input{
          width: 45%;
        }
      }
    }
  }
}
.eduShell{
  .eduExp{
    width: 100%;
    //padding: .3rem 0;
    font-size: 16px;
    background: #fff;
    position: relative;
    border-bottom: 1px solid #ddd;
  }
  .major{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: .47rem;
    //padding-top: .2rem;
    &>.quarter{
      width: 25%;
      text-align: center;
    }
    .campName{
      font-weight: 600;
    }
    .deleteEdu{
      color: #fff;
      background: #ef5f5f;
      font-size: 12px;
      padding: .1rem .2rem;
      line-height: .2rem;
      cursor: pointer;
    }
  }
}
.addEdu{
  position: relative;
  .addEduBtn{
    padding: .3rem 0;
    display: block;
    text-align: center;
    font-size: 16px;
    width: 100%;
    background: #fff;
  }
  .editTable{
    z-index: 333;
    background: #fff;
    padding: .25rem;
  }
  form{
    position: relative;
    &>img{
      position: absolute;
      right: -.15rem;
      top: -.15rem;
    }
    input{
      width: 100%;
      margin-bottom: .2rem;
    }
    .duration{
      padding-top: .3rem;
      &>div{
        display: flex;
        justify-content: space-between;
        //input{
        //  width: 45%;
        //}
      }
    }
  }
}
.editTable{
  z-index: 333;
  background: #fff;
  padding: .25rem;
  .table3{
    input,select{
      width: 100%;
      height: .34rem;
      line-height: .34rem;
      border-radius: 4px;
      outline: 0;
      border: 1px solid #ccc;
    }
  }

}
.docName{
  padding: .25rem;
  background: #fff;
  margin-bottom: .1rem;
  .name{
    font-size: 16px;
    img{
      margin-right: .15rem;
      vertical-align: sub;
    }
  }
  label{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-top: .5rem;
    line-height: .5rem;
    padding: 0 1rem;
    border-radius: .05rem;
    background: #f00;
    div{
      min-width: 4em;
    }
  }
  &>span{
    padding-top: .5rem;
  }
}
.recommend .fileUp{
  margin-bottom: 0;
}
//modalBox
.modal-title{
  font-size: 20px;
  color: #c20c20;
  font-weight: 600;
}