.signPage {
    height: 100vh;
    background: url("../image/home/large_BG.png");
    -webkit-background-size: cover;
    background-size: cover;
}

.signPage > img {
    padding: .46rem 0 0 .43rem;
    cursor: pointer;
}

.signPage .catchword {
    display: block;
    margin-top: .1rem;
    letter-spacing: .5em;
    color: #000;
    font-size: 16px;
    padding-left: .43rem;
    margin-bottom: .46rem;;
}

.signPage .catchword span {
    cursor: pointer;
}

.signPage .main {
    width: 4rem;
    margin: 0 auto;
    margin-left: 60%;
    -webkit-border-radius: .15rem;
    -moz-border-radius: .15rem;
    background: #fff;
    background: rgba(255,255,255,1);
    box-shadow: 4px 6px 16px 0px rgba(5,34,72,0.16);
    border-radius: 10px;
}

.signPage .main h3 {
    font-size: 26px;
    font-weight: 600;
    color: rgba(239, 78, 78, 1);
    padding: .3rem 0 .31rem;
    margin: 0;
}

.signPage .main .tip1 {
    font-size: 12px;
    color: #d8d8d8;
    margin-bottom: .38rem;
}

.signPage .main .table {
    width: 2.32rem;
    margin: 0 auto;
    padding-top: 61px;
}

.signPage .main .table .pickers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signPage .main .table .pickers span {
    padding-bottom: .09rem;
    color: #000;
    font-size: 16px;
    border-bottom: 4px solid #C9C9C9;
    width: 31%;
}

.readbox {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.read {
    width: 13px;
    height: 13px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    opacity: 0.3;
    border-radius: 2px;
    margin: 4px 10px 0 0;
}

.logintip {
    text-align: left;
}
.inputs label {
    line-height: .3rem;
    position: relative;
    width: 100%;
}

.inputs label img {
    position: absolute;
    top: 50%;
    left: .1rem;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.inputs label input {
    width: 100%;
    /*padding-left: .3rem;*/
    border: none;
    outline: 0px;
    border-bottom: 1px solid gainsboro;
    padding: 17px 5px 5px 10px;
    font-size: 16px;
    font-family: 微软雅黑;
    font-weight: 400;
    color: rgba(174, 174, 174, 1);
}

.inputs label span {
    position: absolute;
    top: 50%;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(239, 78, 78, 1);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.label1 {
    /*margin: .18rem 0 .37rem; */
}

.label2 {
    margin-bottom: .25rem;
}

.label2 span {
    position: absolute;
    right: .15rem;
}

.signBtn {
    line-height: .42rem;
    margin: .1rem 0 .4rem 0;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background: #ef4e4e;
    cursor: pointer;
    height: 43px;
    border-radius: 4px;
}
.deal {
    margin-bottom: .25rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.deal span {
    font-size: 10px;
}

.login {
    padding-bottom: .6rem;
}

.login span {
    cursor: pointer;
    float: left;
    margin-right: 10px;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
}
.agreement {
    padding: 20px;
}

.redPink {
    color: #ef4e4e;
}
.usertype{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.usertype label{
    margin-right: 20px;
}