<rende-header></rende-header>
<!--企业端首页-->
<div class="work-body">
    <!--搜索-->
    <div class="work-search">
        <div class="search-content">
            <input type="text" placeholder="关键词搜索简历 " ng-model="vm.keyword">
            <button ng-disabled="{{!vm.keyword}}" class="btn" ng-click="vm.search(vm.keyword)"
                    style=" background-color: #31bdfd;
                            border: 1px solid #1db5cc;
                            margin-top: 1px;
                            margin-left: 0px;
                            border-radius: 0;">搜索</button>
        </div>
    </div>
    <!--职位管理-->
    <div class="workdetail-body">
        <div class="detail-left">
            <div class="detail-position top-flex">
               <div class="resume-num top-border" ui-sref="resumeManage({resumeType:1})">
                   <div>{{vm.cardData.length}}</div>
                   <div>收到的简历</div>
               </div>
                <div class="resume-num" ui-sref="resumeManage({resumeType:2,interview:hello})">
                    <div>{{vm.faceData.length}}</div>
                    <div>邀请面试</div>
                </div>
            </div>

            <!--//广告位1-->
            <div  class="enterban">
                <img src="image/enterban.png">
            </div>
            <!--职位管理-->
            <div class="detail-position-hr">
                <div class="enterprise-top">
                    <span > 职位管理</span>
                    <div style="margin-top: 10px">
                        <div class=" bc prise-resume"  ng-repeat="data in vm.jobData">
                            <div class=" enter-resume-info" >
                                <div>
                                    <div class="info-name fl">{{data.job_type}} </div>
                                    <div class="info-momey">￥{{data.start_money}}-{{data.end_money}}</div>
                                </div>
                                <div class="grayF" style="margin: 15px 0;">
                                    {{data.experience ||"不限"}} | {{data.education||"暂无" }}学历 | {{data.area||"不限"}}
                                </div>
                                <div class=" grayF" >
                                    <div class="fl">更新时间：{{data.time}}</div>
                                </div>
                            </div>
                            <div class="enter-resume-bt">
                                <button class="detail-position-finish-button fr" ui-sref="personnel-detail({r_id:data.id})">查看简历</button>
                                <button class="detail-position-finish-button fr" ng-click="vm.finish(data.id)">完成招聘</button>
                            </div>
                        </div>
                        <div ng-show="vm.jobData.length==0" style="text-align: center">
                            <img src="image/no_data.png" alt="" style="height: 400px;margin-bottom: 20px;" >
                        </div>
                    </div>
                </div>
                <div class=" seeMore text-center workmore" ng-hide="vm.jobData.length==0">
                    <img src="image/home/seeMore.png" alt="" ui-sref="positionManage">
                </div>
            </div>


            <!--人才推荐-->
            <div class="detail-position-hr">
                <div class="enterprise-top"><span>人才推荐</span></div>
                <div class="position-content">
                    <div ng-click="" class="wantedBlock" ng-repeat="data in vm.otherData|limitTo:4" ui-sref="personnel-detail({r_id:data.r_id,g_id:data.g_id})">
                        <div class="outstandings talentlist">
                            <img src="{{data.img}}" alt="" style="width: .82rem;height: .82rem;">
                            <span class="p_name">{{data.name}}</span>
                            <span class="P_margin">{{data.years}}工作经验|{{data.education}}学历</span>
                            <span class="P_margin redF">{{data.want_job}}</span>
                            <button class="meeting" data-toggle="modal" ng-click="vm.showmodel(data.id)" ng-if="data.c_id==null" id="face">邀请面试</button>
                            <button class="meeting" ng-if="data.c_id!=null" disabled="disabled">已邀面试</button>
                        </div>
                    </div>
                    <div class=" seeMore text-center workmore">
                        <img src="image/home/seeMore.png" alt="" ui-sref="personel">
                    </div>
                </div>
            </div>

            <!--邀请面试模态框-->
            <div class="modal fade" id="invitation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width: 23%;">
                    <div class="modal-content">
                        <div class="modal-body ">
                            <div class="invitation-title">邀请面试</div>
                            <div class="invitation">
                                <div class="invitation-name">
                                    <span>联系人：</span>
                                    <span>联系电话：</span>
                                    <span>面试时间：</span>
                                </div>
                                <div>
                                    <input type="hidden" id="rid">
                                    <input type="text" placeholder="请输入联系人~" ng-model="vm.info.name">
                                    <input type="text" placeholder="请输入联系电话~" ng-model="vm.info.phone" >
                                    <input type="text"
                                           value="2017-07-31 17:58"
                                           id="datetimepicker"
                                           class="form_datetime"
                                           data-date-format="yyyy-mm-dd hh:ii"
                                           ng-model="vm.info.time">
                                </div>
                            </div>
                            <div class="invitation-btn">
                                <button  ng-click="vm.face(vm.info)" >确认邀请</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--积分兑换-->
            <div class="detail-position-hr">
                <div class="enterprise-top"><span>积分兑换</span></div>
                <div class="store">
                    <div class="storeinfo text-center" ng-repeat="time in vm.timeList |limitTo:3" ui-sref="shop-detail({id:time.id})">
                        <img src="{{time.img}}" alt="">
                        <div class="productName">{{time.name}}</div>
                        <div class="scoreNeed">
                            所需积分: <span>{{time.integral}}</span>
                        </div>
                    </div>
                </div>
                <div class=" seeMore text-center workmore"  style="margin-bottom: 35px">
                    <img src="image/home/seeMore.png" alt="" ui-sref="store">
                </div>
            </div>
            <!--//广告位-->
            <div  class="enterban">
                <img src="image/enterban.png">
            </div>
            <!--仁德人力代理-->
            <div class="">
                <div class="enterprise-top" style="background: white;padding: 10px;"><span>仁德人力代理</span></div>
                <div class="store">
                    <div class=" services">
                        <div class="theCard">
                            <div class="cardTitle card1">人才外包服务套餐</div>
                            <div class="priceContent">
                                    通过我们仁德直聘专业和资深的招聘团队，我们为企业客户您定制个性化的招聘方案；用我们仁德直聘先进的网络信息招聘系统，
                                    并结合各大同行业的网络招聘系统，互相筛选，迅速为企业客户做出合理有效的招聘决策,提升招聘质量，
                                    迅速找出合适的人才为企业发展助力。
                            </div>
                        </div>
                        <div class="theCard" >
                            <div class="cardTitle card2">人力资源管理外包服务套餐</div>
                            <div class="priceContent">
            <span>仁德人力资源代理服务为企业提供人力资源管理外包服务，服务内容包括：
                <br>人力资源薪酬福利管理服务;
                <br>人力资源绩效管理服务;
                <br>人力资源培训管理服务;
                <br>人力资源测评管理服务.
            </span>
                            </div>
                        </div>
                        <div class="theCard">
                            <div class="cardTitle card3">人才、劳务派遣服务套餐</div>
                            <div class="priceContent">
                                <span>    又称人才派遣、人才租赁、劳动力派遣、劳动力租赁，是指由仁德直聘公司委托第三方有资质的劳务派遣公司与派遣员工签订劳动合同，劳务派遣公司需为仁德直聘的入库筛选公司，经过考核完由劳务派遣公司派遣员工向用工企业客户提供劳务的一种新型用工模式。劳务派遣的员工劳动合同关系存在于劳务派遣公司与派遣员工之间，但派遣员工的劳动力则发生于派遣员工与用工企业之间。</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="detail-right">
            <div class="enterprise-top"><span>公司信息</span></div>
            <div class="prise-message">
                <div class="">
                    <span class="prise-name">{{vm.company.name}}</span>
                </div>
                <div class="prise-intr" >
                    <span>{{vm.company.job_type}}</span>
                </div>
                <div class="prise-intr">
                    <span>{{vm.company.nature}}</span> | <span>{{vm.company.size}}</span> | <span>{{vm.company.area}}</span>
                </div>
            </div>
            <div class="prise-image">
                <div class="message-icon">
                    <img src="image/enterprise/icon1.jpg" alt="" class="prisr-icon">
                    <div class="message-tip" ng-if=" vm.company.mail==null">邮箱已验证</div>
                    <div class="message-tip" ng-if="vm.company.mail!=null">邮箱已验证</div>
                    <div class="message-btn  {{vm.company.mail!=null? 'finsh_bc':'up_bc'}}"  ui-sref="accountManage">验证邮箱</div>
                </div>
                <div class="message-icon icon2">
                    <img src="image/enterprise/icon2.jpg" alt="" class="prisr-icon">
                    <div class="message-tip">电话已验证</div>
                    <div class="message-btn finsh_bc "    ui-sref="accountManage">验证电话</div>
                </div>
                <div class="message-icon">
                    <img src="image/enterprise/icon3.jpg" alt="" class="prisr-icon">
                    <div class="message-tip" ng-if="vm.company.usiness_license==null">执照未验证</div>
                    <div class="message-tip" ng-if="vm.company.usiness_license!=null">执照已验证</div>
                    <div class="message-btn {{vm.company.usiness_license!=null ? 'finsh_bc':'up_bc'}}"  ui-sref="accountManage">上传执照</div>
                </div>

            </div>
        </div>
        <div class=" enter-bg" style="margin: 0">
             <div class="enter-home1">
                 <h3>如何提高招聘效果？</h3>
                 <div>想提升刷新效果？你发现TA了吗？</div>
                 <div>想要招聘省心省力，效果有保障？</div>
                 <div>HR必备招聘款~</div>
                 <div>做校招，用对工具选对人！</div>
                 <div>想提升刷新效果？你发现TA了吗？</div>
                 <div>想要招聘省心省力，效果有保障？</div>
             </div>
            <div class="lookmore"  ui-sref="WPInfo">
                查看更多
            </div>
        </div>
        <div class="enter-bg">
           <div class="prise-info">
               <img src="{{vm.company.img}}" alt="" >
               <div >{{vm.company.name}}</div>
           </div>
            <div class="prise-process" >
                <div class="process-num">
                    <span>资料完整度</span>
                    <span>40%</span>
                </div>
                <div class="progress"style="height: 8px" >
                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width: 40%;background-color: #E40000;height: 8px">
                        <span class="sr-only">40% 完成</span>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="midify" ui-sref="accountManage">去修改</button>
            </div>
        </div>
            <div class="user enter-bg">
                <div class="userInfo">
                    <img src="{{vm.userList.img}}" alt="">
                    <div>
                        <div class="username">{{vm.userList.name ||"暂无用户名"}}</div>
                        <div class="userScore">
                            可用积分: <span>{{vm.userList.integral}}</span>
                        </div>
                    </div>
                </div>
                <div class="instructor">
                    <div class="text-center leftIntro" ui-sref="help">
                        <img src="image/store/instuctor.png" alt=""> <br>
                        <span>积分说明</span>
                    </div>
                    <div class="text-center" ui-sref="store({type:1})">
                        <img src="image/store/exchange.png" alt=""> <br>
                        <span>我的兑换</span>
                    </div>
                </div>
            </div>
            <div class="enter-bg">
                <div ui-sref="workplace-news" class="listHeader text-center">
                    <div class="listTitle">职场咨询</div>
                    <div class="list_disc">排忧解难，带你就业带你飞</div>
                    <div class="triangle"></div>
                </div>
                <ul class="enter-news">
                    <li class="article" ui-sref="new-detail({id:{{x.id}},index:$index})" ng-repeat="x in vm.newsList|limitTo:7">{{x.content}}</li>
                </ul>
                <div class="text-center">
                    <button class="midify" ui-sref="WPInfo">查看更多</button>
                </div>
            </div>
    </div>
</div>
<rd-footer></rd-footer>