<rende-header></rende-header>
<!--企业端首页-->
<div class="work-body">
    <!--搜索-->
    <div class="work-search">
        <div class="search-content">
            <input type="text" placeholder="关键词搜索简历 ">
            <button style="background-color: #1db5cc;border: 1px solid #1db5cc;margin-top: 1px;">搜索</button>
        </div>
    </div>
    <!--职位管理-->
    <div class="workdetail-body">
        <div class="detail-left">
            <div class="detail-position top-flex">
               <div class="resume-num top-border">
                   <div>99</div>
                   <div>收到的简历</div>
               </div>
                <div class="resume-num">
                    <div>99</div>
                    <div>邀请面试</div>
                </div>
            </div>
            <!--求职人才-->
            <div class="detail-position-hr">
                <div class="enterprise-top">
                    <span > 求职人才</span>
                    <div class="manage-list bc look-jl-br" >
                        <div class="position-list-right " style="margin-bottom: .2rem;">
                            <div class="positionname fl">安全员工程师  </div>
                            <div class="money">￥3000-5000</div>
                            <br>
                            <div class=" grayF personnel-demo ">
                                24岁| 2年以上经验|本科学历
                            </div>
                            <div class="personnel-demo grayF" style="margin-top: 0.22rem;">
                                <div class="fl">更新时间：2018.10.21</div>
                            </div>
                        </div>
                        <div class="look-jl">
                            <button class="detail-position-finish-button fr">完成招聘</button>
                            <button class="detail-position-put-button fr">查看简历</button>
                        </div>
                    </div>
                    <div class="manage-list bc look-jl-br" >
                        <div class="position-list-right " style="margin-bottom: .2rem;">
                            <div class="positionname fl">安全员工程师  </div>
                            <div class="money">￥3000-5000</div>
                            <br>
                            <div class=" grayF personnel-demo ">
                                24岁| 2年以上经验|本科学历
                            </div>
                            <div class="personnel-demo grayF" style="margin-top: 0.22rem;">
                                <div class="fl">更新时间：2018.10.21</div>
                            </div>
                        </div>
                        <div class="look-jl">
                            <button class="detail-position-finish-button fr">完成招聘</button>
                            <button class="detail-position-put-button fr">查看简历</button>
                        </div>
                    </div>
                </div>
                <div class=" seeMore text-center workmore">
                    <img src="image/home/seeMore.png" alt="">
                </div>
            </div>


            <!--其他职位-->
            <div class="detail-position-hr">
                <div class="enterprise-top"><span>查看其TA职位</span></div>
                <div class="position-content">
                    <div ng-click="" class="wantedBlock">
                        <div class="outstandings talentlist">
                            <img src="image/home/out_avatar.png" alt="">
                            <span class="p_name">巫女士</span>
                            <span class="P_margin">十年以上学历|大专学历</span>
                            <span class="P_margin redF">外贸/进出口专员</span>
                            <button class="meeting">邀请面试</button>
                        </div>
                    </div>
                    <div ng-click="" class="wantedBlock">
                        <div class="outstandings talentlist">
                            <img src="image/home/out_avatar.png" alt="">
                            <span class="p_name">巫女士</span>
                            <span class="P_margin">十年以上学历|大专学历</span>
                            <span class="P_margin redF">外贸/进出口专员</span>
                            <button class="meeting">邀请面试</button>
                        </div>
                    </div>
                    <div ng-click="" class="wantedBlock">
                        <div class="outstandings talentlist">
                            <img src="image/home/out_avatar.png" alt="">
                            <span class="p_name">巫女士</span>
                            <span class="P_margin">十年以上学历|大专学历</span>
                            <span class="P_margin redF">外贸/进出口专员</span>
                            <button class="meeting">邀请面试</button>
                        </div>
                    </div>
                    <div ng-click="" class="wantedBlock">
                        <div class="outstandings talentlist">
                            <img src="image/home/out_avatar.png" alt="">
                            <span class="p_name">巫女士</span>
                            <span class="P_margin">十年以上学历|大专学历</span>
                            <span class="P_margin redF">外贸/进出口专员</span>
                            <button class="meeting">邀请面试</button>
                        </div>
                    </div>

                    <div class=" seeMore text-center workmore">
                        <img src="image/home/seeMore.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="detail-right">
            <div class="enterprise-top"><span>人才推荐</span></div>
            <div class="prise-message">
                <div class="">
                    <span class="prise-name">福建博业建设福州分公司</span>
                </div>
                <div class="prise-intr" >
                    <span>建筑</span>| <span>房地产</span>
                </div>
                <div class="prise-intr">
                    <span>民营企业</span>| <span>10-50人</span>| <span>福建福州</span>
                </div>
            </div>
            <div class="prise-image">
                <div class="message-icon">
                    <img src="image/enterprise/icon1.jpg" alt="" class="prisr-icon">
                    <div class="message-tip">邮箱已验证</div>
                    <div class="message-btn finsh_bc">验证邮箱</div>
                </div>
                <div class="message-icon icon2">
                    <img src="image/enterprise/icon2.jpg" alt="" class="prisr-icon">
                    <div class="message-tip">电话已验证</div>
                    <div class="message-btn finsh_bc">验证电话</div>
                </div>
                <div class="message-icon">
                    <img src="image/enterprise/icon3.jpg" alt="" class="prisr-icon">
                    <div class="message-tip">执照未验证</div>
                    <div class="message-btn up_bc">上传执照</div>
                </div>

            </div>
        </div>
    </div>
</div>
<rd-footer></rd-footer>