<rende-header></rende-header>
<!--发布职位-->
<form  target="hidden_frame" class="container" id="addFrom">
<div class="work-body">
    <div class="release-banner">我的位置：职位管理>发布职位</div>
    <div class="message-content">
        <div class="content-title">职位信息</div>
        <div class="flex-row row-margin">
            <span class="name-title">职位名称：</span>
           <div class="">
               <input type="text"  class="release-input" required="required" >
           </div>
        </div>
        <div class="flex-row row-margin">
            <span class="name-title">职位类型：</span>
            <div class=" form-inline adress-select">
                <span ng-if="vm.j_id">{{vm.job}}</span>
                <select ng-if="!vm.j_id" name="jobType" id="jobType"
                        ng-model="vm.job_type"
                        ng-change="vm.getJobType(vm.job_type)"
                        class="release-input"
                        required>
                    <option value="">请选择行业类型</option>
                    <option value="{{x}}" ng-repeat="x in vm.typeList">{{x}}</option>
                </select>
                <select ng-if="!vm.j_id" name="job" id="job"
                        ng-model="vm.job"
                        class="release-input"
                        required>
                    <option value="">请选择具体岗位</option>
                    <option value="{{x.name}}" ng-repeat="x in vm.typeDetail">{{x.name}}</option>
                </select>
                <!--<input type="text" class="release-input" ng-model="vm.addList.job_type" required="required">-->
            </div>
            <div class="flex-row row-margin"></div>
        </div>
        <div class="flex-row row-margin">
            <div>
                <span class="name-title">工作地址：</span>
                <div class="form-inline adress-select" >
                    <div id="distpicker5" style="display:flex;margin-right: 14px;">
                        <div class="form-group" style="margin-right: 10px;">
                            <label class="sr-only" for="province10">Province</label>
                            <select class="form-control" id="province10" ></select>
                        </div>
                        <div class="form-group" style="margin-right: 10px;">
                            <label class="sr-only" for="city10">City</label>
                            <select class="form-control" id="city10"></select>
                        </div>
                        <div class="form-group" style="margin-right: 10px;">
                            <label class="sr-only" for="district10">District</label>
                            <select class="form-control" id="district10"></select>
                        </div>
                    </div>
                </div>

            </div>
            <div><input type="text" class="release-input" placeholder="请输入详细地址~" ng-model="vm.detailadress" required="required"></div>
        </div>
        <div class="flex-row row-margin">
            <div>
                <span class="name-title">薪资范围：</span>
                <input type="number" class="salary-input"  ng-model="vm.salfrom" required="required" ng-blur="vm.test(vm.salfrom)"> -
                <input type="number" class="salary-input" ng-model="vm.salto" required="required" ng-blur="vm.test(vm.salto)">
                <span>(月薪不能少于4位数)</span>
            </div>
            <div class="center-margin">
                <span class="name-title ">学历要求：</span>
                <select name="education"
                        id="education"
                        class="salary-input"
                        ng-model="vm.education"
                        ng-options="x.name as x.name for x in vm.eduList">

                </select>
                <!--<input type="text" class="salary-input">-->
            </div>
            <div>
                <span class="name-title">工作年限：</span>
                <select name=""
                        id="experience"
                        class="salary-input"
                        ng-model="vm.experience"
                        ng-options="x.years as x.years for x in vm.exprList">
                    <!--<option value="">请选择</option>-->
                    <!--<option value="{{expr.years}}" ng-repeat="expr in vm.exprList">{{expr.years}}</option>-->
                </select>
            </div>
        </div>
        <div class="flex-row row-margin">
            <div>
                <span class="name-title ">职位描述：</span>
                <textarea type="text" class="intr-textarea" ng-model="vm.position" required="required"></textarea>
            </div>
        </div>
        <div style="padding-left: 0.7rem;width: 980px" class="flex-row row-margin">
            <div style="position: absolute;left: 0">
                <span class="name-title ">公司亮点：</span>
            </div>
            <div class="light" ng-repeat="x in vm.boonNow track by $index"  ng-click="vm.delete($index) ">
                <span class="spot spot-bc">{{x.name}}</span>
                <span class="cancle">x</span>
            </div>
            <span ng-show="vm.boonNow.length==0" class="noselect">还未选择公司亮点~ 请选择下发公司亮点</span>
        </div>
        <div class="flex-row spot-margin">
            <div class="select-spot">
                <span class="spot select-spot-bc"  ng-repeat="x in vm.baseBoon" ng-click="vm.add($index)" >{{x.name}}</span>
            </div>
        </div>
    </div>
    <div class="message-content">
        <div class="content-title">职位设置</div>
        <div class="flex-row row-margin">
            <div class="release-name">
                <span class="name-title">招聘人数：</span>
                <input type="text" class="release-input" ng-model="vm.num">
            </div>
        </div>
    </div>
    <div class="release-btn">
        <button class="release-ok" ng-click="vm.addJob()" >{{vm.buttonLeft}}</button>
        <button ng-if="!vm.j_id" class="release-reset" type="reset">清空</button>
        <button ng-if="vm.j_id" class="release-reset" ng-click="vm.deleteJob()">删除</button>
    </div>

</div>
</form>
<iframe name='hidden_frame' id="hidden_frame" style="display:none"></iframe>
<script src="js/adresspicker/distpicker.data.js"></script>
<script src="js/adresspicker/distpicker.js"></script>
<script src="js/adresspicker/main.js"></script>
<rd-footer></rd-footer>