<div class="container-fluid {{client?'enterpriseHome':''}}">
    <!--个人端-->
    <div ng-show="client==0" class="header">
        <div class="container">
            <div class="row line1st">
                <div class="logo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <img src="image/home/logo.png" alt="">
                    <img src="image/location.png" class="location" style="width: 21px;height: 20px;margin-bottom: 2px;margin-left: 10px;">
                    <span style="font-size: 16px; margin: 0 8px;">{{city}}</span>
                    <span ui-sref="cityMap" style="font-size: 12px; color: #c5c5c5">[切换城市]</span>
                </div>
                <div ng-if="!cclient" class="btnGroup col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                    <span class="loginIn" ui-sref="signPage({choice:0})">登录</span><span class="sign" ui-sref="signPage({choice:1})">注册</span>
                </div>
                <div ng-if="cclient" class="signed  text-right usercenter" ng-mouseleave="mouseLeave()" >
                    <div class="user-box">
                        <div ng-mouseenter="mouseEnter()" class="username">欢迎您！{{username}}</div>
                        <div class="loginInfo "  ng-if="showCates">
                            <span ui-sref="usercenter">个人中心</span>
                            <span ui-sref="resume">个人简历</span>
                            <span ui-sref="setting">账号设置</span>
                            <span ng-click="Exit()">退出登录</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav container-fluid" style="background: linear-gradient(to right,rgb(254,48,1) , rgb(226,28,25));">
            <div class="container">
                <div ng-repeat="x in homeMenu"
                     class="navItem"
                     ng-click="nav0(x.id)"
                     on-finish-render-filters>
                    {{x.name}}
                </div>
            </div>
        </div>
    </div>
    <!--企业端-->
    <div ng-show="client==1" class="container header header1">
        <div class="row line1st">
            <div class="logo col-lg-2 col-md-6 col-sm-6 col-xs-12">
                <img src="image/home/logo.png" alt="">
            </div>
            <div ng-hide="hideNav" class="nav nav1 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div ng-repeat="x in enterHome"
                     class="navItem0"
                     ng-click="nav1(x.id)"
                     ng-bind="x.name"
                     on-finish-render-filters>
                    <!--{{x.name}}-->
                </div>
                <!--<div class="navItem0" ui-sref="enterpriseHome({position0: 1})">首页</div>-->
                <!--<div class="navItem0" ui-sref="resumeManage({position0: 2})">简历管理</div>-->
                <!--<div class="navItem0" ui-sref="positionManage({position0: 3})">职位管理</div>-->
                <!--<div class="navItem0" ui-sref="searchTalent({position0: 4})">搜人才</div>-->
                <!--<div class="navItem0" ui-sref="accountManage({position0: 5})">账户管理</div>-->
                <!--<div class="navItem0" ui-sref="superPosition({position0: 6})">高端职位</div>-->
            </div>
            <div ng-if="!cclient" class="btnGroup col-lg-2 col-md-6 col-sm-6 col-xs-12 text-right">
                <span class="loginIn" ui-sref="signPage({login:1,sign:0})">登录</span><span class="sign" ui-sref="signPage({sign:1,login:0})">注册</span>
            </div>
            <div ng-if="cclient" class="signed  col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                <span ng-click="showExit()">欢迎您！{{username}}</span>
                <div ng-if="showEx" class="loginInfo">
                    <span ng-click="Exit()">退出登录</span>
                </div>
            </div>
        </div>
    </div>
</div>
