<div class="container-fluid {{client?'enterpriseHome':''}}">
    <!--个人端-->
    <div ng-show="client==0" class="header">
        <div class="container">
            <div class="row">
                <div class="logo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <img src="image/home/logo.png" alt="">
                    <span style="font-size: 16px; margin: 0 8px;">全国</span>
                    <span ng-click="placeBtn()" style="font-size: 12px; color: #c5c5c5">[切换城市]</span>
                </div>
                <div ng-if="!signIf" class="btnGroup col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                    <span class="loginIn" ui-sref="signPage({login:1,sign:0})">登录</span><span class="sign" ui-sref="signPage({sign:1,login:0})">注册</span>
                </div>
                <div ng-if="signIf" class="signed  col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                    <span ng-click="showExit()">欢迎您！{{username}}</span>
                    <div ng-if="showEx" class="loginInfo">
                        <span ng-click="exit()">退出登录</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav container-fluid" style="background: #f52a08">
            <div class="container">
                <div ng-repeat="x in homeMenu"
                     class="navItem"
                     ng-click="nav0(x.id)"
                     on-finish-render-filters>
                    {{x.name}}
                </div>
            </div>
        </div>
        <div class="container">
            <div ng-show="changePlace" class="row provinceChoose">
                <div class="province">
                    <div>
                        <div>
                            <img class="leftClick leftClick1" ng-click="provinceMoreL()" src="image/home/leftTriangle.png" alt="">
                            <span ng-click="chooseProvince($index)" ng-repeat="x in hole_country">{{x.provinceName}}</span>
                            <img class="rightClick rightClick1" ng-click="provinceMoreR()" src="image/home/rightTriangle.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div draggable="true" ng-show="changePlace" class="row cityChoose">
                <div class="cities">
                    <div class="cxx">
                        <div id="chooseCity">
                            <img class="leftClick leftClick2" ng-click="cityMoreL()" src="image/home/leftTriangle.png" alt="">
                            <span ng-click="chooseCity($index)" class="cityGroup"  ng-repeat="x in cities" repeat-finished>{{x.cityName}}</span>
                            <img class="rightClick rightClick2" ng-click="cityMoreR()" src="image/home/rightTriangle.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--企业端-->
    <div ng-show="client==1" class="container header header1">
        <div class="row">
            <div class="logo col-lg-2 col-md-6 col-sm-6 col-xs-12">
                <img src="image/home/logo.png" alt="">
            </div>
            <div class="nav nav1 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div ng-repeat="x in enterHome"
                     class="navItem0"
                     ng-click="nav1(x.id)"
                     ng-bind="x.name"
                     on-finish-render-filters>
                    <!--{{x.name}}-->
                </div>
                <!--<div class="navItem0" ui-sref="enterpriseHome({position0: 1})">首页</div>-->
                <!--<div class="navItem0" ui-sref="resumeManage({position0: 2})">简历管理</div>-->
                <!--<div class="navItem0" ui-sref="positionManage({position0: 3})">职位管理</div>-->
                <!--<div class="navItem0" ui-sref="searchTalent({position0: 4})">搜人才</div>-->
                <!--<div class="navItem0" ui-sref="accountManage({position0: 5})">账户管理</div>-->
                <!--<div class="navItem0" ui-sref="superPosition({position0: 6})">高端职位</div>-->
            </div>
            <div ng-if="!signIf" class="btnGroup col-lg-2 col-md-6 col-sm-6 col-xs-12 text-right">
                <span class="loginIn" ui-sref="signPage({login:1,sign:0})">登录</span><span class="sign" ui-sref="signPage({sign:1,login:0})">注册</span>
            </div>
            <div ng-if="signIf" class="signed  col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                <span ng-click="showExit()">欢迎您！{{username}}</span>
                <div ng-if="showEx" class="loginInfo">
                    <span ng-click="exit()">退出登录</span>
                </div>
            </div>
        </div>
    </div>
</div>
