<!--页眉-->
<rende-header id="header_top"></rende-header>
<!--搜索-->
<common-search></common-search>
<sus-box></sus-box>
<div class="container checkBox">
    <div>
        <div class="row optRow">
            <span class="choice0">
                职位:
                <span ng-click="vm.clearType()" class="btn allType choice0 ">全部</span>
            </span>
            <span  ng-click='vm.getJobType(x,$index+1)'
                   class="choice choice0"
                   ng-repeat="x in vm.jobType |limitTo: 6" on-finish-render-filters>
                <span class="btn">{{x}}</span>
            </span>
            <select ng-model="vm.selectedType"
                    ng-change="vm.getType(vm.selectedType)"
                    class="getMore typeSelect"
                    name="occupations" >
                <option value="">&emsp;&emsp;更多&emsp;&emsp;</option>
                <option value="{{x}}" ng-repeat="x in vm.otherTypes">{{x}}</option>
            </select>
        </div>
        <div class="row optRow">
            <span class="choice1">
                性质:
                <span ng-click="vm.clearNature()" class="allNature btn">全部</span>
            </span>
            <span ng-click='vm.getNatureType(x.name,$index+1)'
                  class="choice choice1"
                  ng-repeat="x in vm.natureList |limitTo: 6"
                  on-finish-render-filters>
                <span class="btn">{{x.name}}</span>
            </span>
            <select ng-model="vm.selectedNature"
                    ng-change="vm.getNature(vm.selectedNature)"
                    class="getMore natureSelect"
                    name="occupations" >
                <option value="">&emsp;&emsp;更多&emsp;&emsp;</option>
                <option value="{{x.name}}" ng-repeat="x in vm.otherNatures">{{x.name}}</option>
            </select>
        </div>
        <div class="row optRow">
            <span class=" choice2">
                规模:
                <span ng-click="vm.clearSize()" class="allSize btn">全部</span>
            </span>
            <span class="choice choice2"
                  ng-click="vm.getSize(x.name,$index+1)"
                  ng-repeat="x in vm.sizeList"
                  on-finish-render-filters>
                <span class="btn">{{x.name}}</span>
            </span>
        </div>
        <div class="row optRow boonRow">
            <span class="">
                福利:
                <span class="boonIgnore btn" ng-click="vm.clearBoon()">全部</span>
            </span>
            <span class="choice choice3"
                  ng-click="vm.getBoon(x.name)"
                  ng-repeat="x in vm.boonList"
                  on-finish-render-filters>
                <span class="btn">
                      {{x.name}}
                </span>
            </span>
        </div>
    </div>
</div>
<div class="container enterNav">
    <div class="row">
        <div class="wantedBlock col-lg-9 col-md-9 col-sm-12 col-xs-12" style="background: white;padding: 0;margin-bottom: 15px;">
            <div class="leftNav">
                <div ui-sref="enterprise({nav0:0})" class="{{vm.nav==0?'checkedNav':''}}">
                    <span>企业列表</span>
                    <img style="width: 12px;height: 8px" src="image/home/arrowBottom_white.png" alt="">
                </div>
                <div ui-sref="enterprise({nav0:1})" class="{{vm.nav==1?'checkedNav':''}}">
                    <span>名企招聘</span>
                    <img style="width: 12px;height: 8px" src="image/home/arrowBottom_white.png" alt="">
                </div>
            </div>
            <div ui-sref="enterpriseInfo({id:data.id})" ng-repeat="data in vm.dataList|limitTo:8" style="border: none;
    border-bottom: 1px solid gainsboro;">
                <div class="row1">
                    <div class="leftTwo">
                        <img class="companyName company-logo" src="{{data.img}}" >
                        <div class="sec">
                            <div class="position">
                                {{data.name}}
                                <!--<img src="image/home/vip.png" alt="">-->
                            </div>
                            <div class="company-type grayF " style="margin: 15px 0;">{{data.job_type}} | {{data.nature}}{{data.size}} | {{data.area}}</div>
                            <div class="demand grayF">
                                <span ng-repeat="items in data.boonarrs track by $index"> | {{items}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="thi">
                        <div class="line1">推荐职位</div>
                        <div class="jobs">
                            <span>市场经理</span>
                            <span>市场经理</span>
                            <span>市场经理</span>
                            <span>市场经理</span>
                            <span>市场经理</span>
                            <span>查看更多</span>
                        </div>
                    </div>
                </div>
            </div>

            <div  class="seeMore text-center">
                <img src="image/home/seeMore.png" alt="">
            </div>
        </div>
        <div class="recommend col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="RHshell">
                <div class="rightHeader">
                    <span>推荐企业</span>
                </div>
            </div>
            <div ui-sref="enterpriseInfo" class="occupation"  ng-repeat="data in vm.dataList|limitTo:3" >
                <div class="row2">
                    <img class="companyName company-logo" src="{{data.img}}" >
                </div>
                <div class="text-center" style="display: block">
                 <div style="margin-bottom: 10px;">{{data.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <page-model ng-if="!vm.navType" page="vm.page" total="vm.total" size="vm.size" ></page-model>
</div>
<rd-footer></rd-footer>