<rende-header></rende-header>
<common-search></common-search>
<!--内容-->
<div class="position container">
    <span class="position_left">当前位置:</span>
    首页>公司列表>公司详情
</div>
<div class="enterDesc container">
    <!--<a ng-click="vm.companyInfo()">公司详情</a>-->
    <div ng-click="vm.companyInfo()" class="enterLeft">
        <img src="image/home/enterLogo.png" alt="">
        <div>
            <div class="enterName">福建博业建设集团有限公司福州分公司</div>
            <div class="about">
                建筑/房地产&emsp;|&emsp;民营企业&emsp;|&emsp;10-50人&emsp;|&emsp;福建福州
            </div>
            <div class="happy">
                <span>法定节假日</span>
                <span>休假制度</span>
                <span>奖励计划</span>
                <span>年终奖金</span>
                <span>综合补贴</span>
            </div>
            <div class="count">
                <div>
                    <div class="number">2</div>
                    <span>招聘岗位</span>
                </div>
                <div>
                    <div class="number">100%</div>
                    <span>简历处理率</span>
                </div>
                <div>
                    <div class="number">0</div>
                    <span>邀请面试</span>
                </div>
                <div>
                    <div class="number">80%</div>
                    <span>最近活跃度</span>
                </div>
            </div>
        </div>
    </div>
    <div class="enterRight">
        <div>
            <div class="verify">
                <img src="image/home/mailVerified.png" alt="">
                <div>邮箱已验证</div>
            </div>
            <div class="verify">
                <img src="image/home/telVerified.png" alt="">
                <div>电话已验证</div>
            </div>
            <div class="verify">
                <img src="image/home/permitVerifing.png" alt="">
                <div>执照未验证</div>
            </div>
        </div>
        <div>
            <button>关注</button>
        </div>
    </div>
</div>
<div class="contact container">
    <div class="tel">
        <div class="imgShell">
            <img src="image/home/mobileIcon.png" alt="">
        </div>
        <span>联系电话</span>
        <span class="inner">05912345678</span>
    </div>
    <div class="email">
        <div class="imgShell">
            <img src="image/home/emailIcon.png" alt="">
        </div>
        <span>联系电话</span>
        <span class="inner">05912345678</span>
    </div>
    <div class="address">
        <div class="imgShell">
            <img src="image/home/addressIcon.png" alt="">
        </div>
        <span>联系电话</span>
        <span class="inner">05912345678</span>
    </div>
</div>
<div class="introduction container">
    <div class="intro">
        <span>企业介绍</span>
    </div>
    <div class="text">
        <img src="image/home/enter_intro.png" alt="">
    </div>
    <div class="container seeMore text-center">
        <img src="image/home/seeMore.png" alt="">
    </div>
</div>
<div class="jobs container">
    <div class="intro">
        <span>招聘职位</span>
    </div>
    <div class="occupation">
        <div class="row row1">
            <div class="leftTwo">
                <img src="image/home/jobCardImg.png" alt="">
                <div class="sec">
                    <div>
                        安全工程师或安全员
                        <span class="salary redF">￥3000-8000</span>
                    </div>
                    <div class="demand grayF">
                        <span>不限经验|</span>
                        <span>大专学历|</span>
                        <span>福建-福州</span>
                    </div>
                </div>
            </div>
            <div class="thi">
                <div class="thi_L">
                    <div>
                        安全工程师或安全员
                        <span class="salary redF">￥3000-8000</span>
                    </div>
                    <div class="demand grayF">
                        <span>不限经验|</span>
                        <span>大专学历|</span>
                        <span>福建-福州</span>
                    </div>
                </div>
                <div class="thi_R">
                    <span>投个简历</span>
                    <div class="update">
                        更新时间：2018-09-12
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="occupation">
        <div class="row row row1">
            <div class="leftTwo">
                <img src="image/home/jobCardImg.png" alt="">
                <div class="sec">
                    <div>
                        安全工程师或安全员
                        <span class="salary redF">￥3000-8000</span>
                    </div>
                    <div class="demand grayF">
                        <span>不限经验|</span>
                        <span>大专学历|</span>
                        <span>福建-福州</span>
                    </div>
                </div>
            </div>
            <div class="thi">
                <div class="thi_L">
                    <div>
                        安全工程师或安全员
                        <span class="salary redF">￥3000-8000</span>
                    </div>
                    <div class="demand grayF">
                        <span>不限经验|</span>
                        <span>大专学历|</span>
                        <span>福建-福州</span>
                    </div>
                </div>
                <div class="thi_R">
                    <span>投个简历</span>
                    <div class="update">
                        更新时间：2018-09-12
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="seeMore text-center">
        <img src="image/home/seeMore.png" alt="">
    </div>
</div>
<!--底部-->
<rd-footer></rd-footer>