<rende-header></rende-header>
<common-search></common-search>
<div class="container GWTop">
    <div>
        <span class="redF">当前位置:</span>
        <span>店铺招聘>职位列表>职位详情</span>
    </div>
</div>
<div class="container main">
    <div class="leftSide" style="width: 100%;">
        <div class="intro">
            <div class="left">
                <div class="ocp">{{vm.workDetail.title}}</div>
                <div class="salary redF">{{vm.workDetail.money}}</div>
                <div class="endAt grayF">截至日期:{{vm.workDetail.end_time}}</div>
                <div class="address">地址: {{vm.workDetail.address}}</div>
                <div class="contact">
                    <span class="" style="margin-right: 35px">联系电话: {{vm.workDetail.phone}}</span>
                    <span class="contactMethod">联系人: {{vm.workDetail.name}}</span>
                </div>
            </div>
            <div class="right text-right">
                <div class="updateAt">{{vm.workDetail.time}} 更新</div>
                <div class="viewCount">被浏览: {{vm.workDetail.look}}次</div>
                <div class="icons">
                    <div class="rec">
                        <img src="image/home/rec.png" alt="">
                        <span class="grayF">推荐</span>
                    </div>
                    <div class="weChat">
                        <img src="image/home/wechat.png" alt="">
                        <span class="grayF">微信</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="demands">
            <div class="boxTitle">
                <div class="stick"></div>
                <span class="redF">具体要求</span>
            </div>
            <div class="demand">
                <span>
                   {{vm.workDetail.content}}
                </span>
            </div>
        </div>
        <!--<div class="edit">-->
            <!--<div class="boxTitle">-->
                <!--<div class="stick"></div>-->
                <!--<span class="redF">修改删除</span>-->
            <!--</div>-->
            <!--<div class="options">-->
                <!--<div class="button refresh" ng-click="vm.updata()">刷新</div>-->
                <!--&lt;!&ndash;<div class="button modify">修改</div>&ndash;&gt;-->
                <!--<div class="button delete" ng-click="vm.delect(vm.workDetail.id)">删除</div>-->
            <!--</div>-->
            <!--<div class="desc">-->
                <!--<div class="redF">操作说明:</div>-->
                <!--<div class="grayF">刷新，修改，删除只有信息发布者可以操作，每刷新一次招聘信息就会自动排在最前面</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="recommend">
            <div class="boxTitle" style="margin-top: 30px;">
                <div class="stick"></div>
                <span class="redF">为你推荐</span>
            </div>
            <div class="ocp">
                <div class="card" ng-repeat="x in vm.recommend" ui-sref="GWDetail({id:x.id})" >
                    <div class="ocpAndSalary">
                        <span>{{x.title}}</span>
                        <span class="redF">{{x.money}}</span>
                    </div>
                    <div class="desc">{{x.content}}</div>
                    <div class="tel">联系电话:{{x.phone}}</div>
                    <div class="addressAndDate">
                        <span>联系地址:{{x.address}}</span>
                        <span class="grayF">更新于{{x.time}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<rd-footer></rd-footer>






















