<rende-header></rende-header>
<common-search></common-search>
<div class="container">
    <div class="leftNav">
        <div ui-sref="GWorker({navType: 0})">
            <span>推荐职位</span>
            <img style="width: 12px;height: 8px" src="image/home/arrowBottom_white.png" alt="">
        </div>
        <div ui-sref="GWorker({navType: 1})">
            <span>最新职位</span>
            <img style="width: 12px;height: 8px" src="image/home/arrowBottom_white.png" alt="">
        </div>
    </div>
    <div class="hotOcp">
        <span class="underNav">职位: </span>
        <span class="job_type btn" ng-click="vm.clearType()">全部</span>
        <span class="job_type btn"
              ng-click="vm.getJobType(x,$index+1)"
              on-finish-render-filters
              ng-repeat="x in vm.typeList |limitTo :6">{{x}}
        </span>
        <select class="underNav job_type typeSelect"
                name="kind"
                ng-change="vm.getType(vm.selectedType)"
                ng-model="vm.selectedType" >
            <option value="">更多</option>
            <option value="{{x}}" ng-repeat="x in vm.otherTypes">{{x}}</option>
        </select>
    </div>
</div>
<div ng-if="!vm.noResult" class="container recruitment">
    <div ng-repeat="x in vm.cardData" ui-sref="GWDetail({id:x.id})" class="card">
        <div class="salary">
            <span>{{x.title}}</span>
        </div>
        <div class="desc grayF">{{x.job_type}} / {{x.money}} / {{x.sex}} / {{x.years}}工作经验 / {{x.content}}</div>
        <div class="tel">{{x.phone}}</div>
        <div class="address">
            <span>{{x.address}}</span>
            <span class="grayF pull-right">{{x.time}}</span>
        </div>
    </div>
</div>
<div style="margin: .2rem 0;font-size: 18px" ng-if="vm.noResult" class="nothing text-center">无匹配结果</div>
<div ng-if="!vm.noResult" class="container">
    <div class="seeMore text-center">
        <img src="image/home/seeMore.png" alt="">
    </div>
</div>
<rd-footer></rd-footer>