<rende-header></rende-header>
<img src="image/huntBg.png" alt="" class="container-fluid huntbg">
<div class="hunt-top">
    <img src="image/huntBg2.png" alt="" class="container-fluid huntbg" style=" position: absolute;">
    <div class="container">
        <div class="aboutus">ABOUT US</div>
        <div class="textborder"></div>
        <div class="aboutus-content">
            <div class="">
                仁德猎头，是仁德直聘针对优秀企业中高端岗位推出的一项高端人才推介服务。仁德猎头专注于为优秀企业提供高端人才配置及团队建设服务，仁德猎头顾问和专家团队，具有深厚的企业管理、人力资源管理、人才测评等工作背景，并具有丰富的猎头实践经验和广泛的人脉资源。
            </div>
            <div class=""> 仁德直聘公司崇尚“仁礼存心，心中有仁，就能遇见对的人”精神理念，尊重客户切身利益，为企业找到最适合企业发展的优秀人才，为企业飞跃发展助力。</div>
            <div  class=""> 客服热线：400-832-0088</div>
        </div>

    </div>
</div>

<div class="container-fluid hunt-banner-box">
    <div class="handhunt-title container ">
        <div class="handhunt-title1">仁德猎头</div>
        <div class="handhunt-title2">BENEFITS OF HEADHUNTING SERVICE</div>
    </div>
    <div class="hunt-banner container">
        <div class="hunt-banner-content">
            <div class="border1"></div>
            <div class="border2"><img src="image/11.png" class="border2">
                <div class="bordertext">人才储备丰富，保证寻访效率</div>
                <span class="bordertitle">高效</span>
            </div>
        </div>
        <div class="hunt-banner-content">
            <div class="border1"></div>
            <div class="border2"><img src="image/22.png" class="border2">
                <div class="bordertext">根据企业量身定制</div>
                <span class="bordertitle">服务</span>
            </div>
        </div>
        <div class="hunt-banner-content">
            <div class="border1"></div>
            <div class="border2"><img src="image/33.png" class="border2">
                <div class="bordertext">庞大团队专职招聘</div>
                <span class="bordertitle">品质</span>
            </div>
        </div>
    </div>
</div>
<!--仁德猎头-->
<div class="work-body">
    <!--悬赏招聘-->
    <div class="hunt-part1">
        <div class="hunt-title"><span>悬赏招聘</span></div>
        <div class="hunt-list1" ng-repeat="hunt in vm.huntData|limitTo :4"  ui-sref="workDetail({id:hunt.id,index})" title="点击查看职位详情">
            <div class="fl"><img src="image/work/huntmoney.png" ></div>
            <div class="hunt-list-right">
                <div class="positionname fl">{{hunt.job_type}}</div>
                <div class="worksalary redF fl">￥{{hunt.start_money}}-{{hunt.end_money}}</div><br>
                <div class="demand grayB">
                    <span>{{hunt.c_name}}</span>
                </div>
                <div class="demand grayB">
                    <span>{{hunt.experience}}|</span>
                    <span>{{hunt.education}}|</span>
                    <span>{{hunt.address}}</span>
                </div>
                <div class="demand grayF ">
                    <span>更新时间：{{hunt.time}}</span>
                    <button class="hunt-btn">立即推荐</button>
                </div>
            </div>
        </div>
        <div class="container  text-center workmore">
            <img src="image/home/seeMore.png" alt="" style="" class="moreimg">
        </div>
    </div>

    <!--推荐职位-->
    <div class="hunt-part1">
        <div class="hunt-title"><span>推荐职位</span></div>
        <div class="hunt-list2" ng-repeat="job in vm.newJob |limitTo:4">
            <div class="hunt-list2-name hunt-part-bg1" ui-sref="workDetail({id:job.id,index})" title="点击查看职位详情">
                {{job.job_type}}
                <span class="fr border-go" > > </span>
            </div>
            <div class="hunt-list2-money">
                <span>￥ {{job.start_money}} - {{job.end_money}}</span>
            </div>
            <div class="hunt-list2-intr">{{job.zone}} / {{job.experience}}经验 / {{job.education}}</div>
            <div class="hunt-list2-intr">{{job.time}}发布</div>
        </div>
        <div class="container  text-center workmore">
            <img src="image/home/seeMore.png" alt="" style="" class="moreimg">
        </div>
    </div>

    <!--猎头服务-->
    <div class="hunt-part1">
        <div class="hunt-title"><span>猎头服务</span></div>
        <div class=" hunt-list3"  ng-repeat="recommend in vm.recommend |limitTo:4">
            <div class="hunt-serve">
                <img src="{{recommend.img }}" alt="">
                <div class="hunt-serve-name">
                    <span>{{recommend.name || '匿名'}}</span><br>
                    <span>推荐率：暂无</span>
                </div>
            </div>
            <div class="hunt-serve-content">
                <div>从业年限：<span>2</span>年</div>
                <div class="font-hidden">擅长行业：不限</div>
                <div>所在地区：{{recommend.loginname ||'暂无'}}</div>
                <div>正在招聘：<span>{{recommend.count || 0}}</span>个职位</div>
                <button ui-sref=" headhunt-detail({id:recommend.id})">委托</button>
                <!--<button>委托</button>-->
            </div>

        </div>
        <div class="container  text-center workmore">
            <img src="image/home/seeMore.png" alt="" style="" class="moreimg">
        </div>
    </div>
</div>
<rd-footer></rd-footer>