
<rende-header></rende-header>
<common-search></common-search>
<!--猎头详情-->
<div class="work-body">
    <!--搜索-->
    <div class="workdetail-body container">
        <div class="detail-left">
            <div class="detail-position">
                <!--猎头详情-->
                <div class="headhunt-detail">
                    <img src="image/home/out_avatar.png" alt="" class="personnel-img fl">
                    <div class="headhunt-detail-name-intr">
                        <div class="headhunt-detail-name ">
                            <span>张雨文</span>
                            <img src="image/home/editIcon.png" alt="">
                        </div>
                        <div class="headhunt-detail-intr">
                            <!--<span>从业年限：2年</span>-->
                            <span>联系邮箱：346234783298@163.con</span>
                        </div>
                        <div class="headhunt-detail-intr">
                            <span>现居地：福州仓山</span>
                        </div>
                        <div class="headhunt-detail-intr">
                            <span>联系电话：1335436546</span>
                        </div>
                    </div>
                </div>
              </div>
            <!--职位-->
            <div class="detail-position-hr">
                <div class="">
                    <ul class="position-tj">
                        <li class="work-position-l" ng-click="vm.getPosition(1)">所有职位</li>
                        <li class="work-position-l" ng-click="vm.getPosition(2)">悬赏职位</li>
                        <li class="work-position-l" ng-click="vm.getPosition(3)">推荐职位</li>
                    </ul>
                    <div ui-sref="workDetail({id:data.id})" class="position-list" ng-repeat="data in vm.Data |limitTo:5">
                        <div class="headhunt-info">
                            <div  ><img src="{{data.img}}" style="width: 89px;height: 87px;" class="position-name"></div>
                            <div class="position-list-right">
                                <div class="positionname fl">
                                    <span>{{data.job_type }}</span>
                                    <span class="worksalary redF">￥{{data.start_money || "面议"}}-{{data.end_money || "面议"}}</span>
                                </div>

                                <div class="demand grayF workdemand">
                                    <span>{{data.experience || "不限"}}经验 | </span>
                                    <span>{{data.education || "不限"}}学历 | </span>
                                    <span>{{data.area}}</span>
                                    <span>{{data.address || "暂无"}}</span>
                                </div>
                            </div>
                            <div class="position-list-right fr" style="padding-left: 13%;">
                                <button class="position-btn">申请</button><br>
                                <!--<button class="position-btn" style="color: yellow">赏金：1500</button>-->
                                <span>更新时间：{{data.time}}</span>
                            </div>
                        </div>
                        <div class="hunt-company"><span>{{data.name}}</span> <span>{{data.c_type || "不限"}} | {{data.nature ||"不限" }} | {{data.size||"不限"}}</span></div>

                        <div class="position-hr"></div>
                    </div>
                    <!--查看更多-->
                    <div class="text-center workmore hunt-more  seeMore">
                        <img src="image/home/seeMore.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--账户信息-->
        <div class="detail-right-other" style="padding-bottom: .2rem;margin-top: .1rem;">
            <div class="detail-right-other-name"><span>账户信息</span></div>
            <div class="count-img">
                <div>账户积分：<span>999</span>分 <button>去兑换</button></div>
                <div>推荐率：<span>100</span>% <button>查看</button></div>
            </div>
        </div>
        <!--精英推荐-->
        <div class="detail-right-other" style="padding-bottom: .2rem;margin-top: -.1rem;">
            <div class="detail-right-other-name hunt-person-banner"><span>精英推荐</span></div>
            <div class="hot-position-list tc" style="text-align: center;" title="点击可查看职位详情" ng-repeat="data in vm.recommendData"  ui-sref="personnel-detail({r_id:data.id})">
                <div class="">
                    <img src="{{data.img}}" alt="" class ="headImg">
                </div>
                <div class="person-list-money"><span style="color: black">{{data.nickname}}</span></div>
                <div>{{data.age}}岁 | {{data.education}}工作经验  | {{data.education}}学历</div>
                <div>{{data.job_type}} | 考虑换工作</div>
            </div>
            <!--查看更多-->
            <div class="text-center workmore hunt-more  seeMore">
                <img src="image/home/seeMore.png" alt="">
            </div>
        </div>
    </div>
</div>
<rd-footer></rd-footer>