<rende-header></rende-header>
<common-search></common-search>
<!--找人才-->
<div class="work-body">
    <!--搜索-->
    <!--<div class="work-search">-->
        <!--<img src="image/work/searchBc.png" alt="">-->
        <!--<div class="search-content">-->
            <!--<input type="text" placeholder="搜索职位,公司或地点 " ng-modal="seach">-->
            <!--<button>搜索</button>-->
        <!--</div>-->
        <!--<div  class="hot-search">-->
            <!--<ul>-->
                <!--<li>热门搜索：</li>-->
                <!--<li>实习生</li>-->
                <!--<li>建筑设计</li>-->
                <!--<li>电话销售</li>-->
                <!--<li>司机</li>-->
                <!--<li>预算员</li>-->
                <!--<li>营销总监</li>-->
                <!--<li>销售代表</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--职位列表-->
    <div class="work-list">
        <ul>
            <li>职位:</li>
            <li><button class="work-list-allbtn">全部</button></li>
            <li ng-repeat="type in vm.typeList |limitTo: 6">{{type.name}}</li>
            <li style=" float: right;">
                <select class="moreOpt" name="" id="" style="border: 1px solid red;">
                    <option value="1"  ng-repeat="type in vm.typeList">{{type.name}}</option>
                </select>
            </li>
        </ul>
        <ul>
            <li>薪资:</li>
            <li><button class="work-list-allbtn">全部</button></li>
            <li>2000以下</li>
            <li>2000-4000</li>
            <li>4000-6000</li>
            <li>6000-8000</li>
            <li>
                <input type="number" class="work-input-input"> - <input type="number" class="work-input-input">
                <button class="work-input-button">确定</button>
            </li>
        </ul>
        <ul>
            <li>福利:</li>
            <li><button class="work-list-allbtn">全部</button></li>
            <li ng-repeat="boonr in vm.show_boonList | limitTo:8">{{boonr.name}}</li>
            <li style=" float: right;">
                <select class="moreOpt" name="" id="" style="border: 1px solid red;">
                    <option value="1" ng-repeat="boonr in vm.show_boonList">{{boonr.name}}</option>
                </select>
            </li>
        </ul>
        <ul>
            <li>更多:</li>
            <li><button class="work-list-allbtn">全部</button></li>
            <li>
                <select name="" id="">
                    <option value="1">学历要求</option>
                    <option value="{{edu.id}}" ng-repeat="edu in vm.eduList">{{edu.name}}</option>
                </select>
            </li>
            <li>
                <select name="" id="">
                    <option value="1">工作经验</option>
                    <option value="" ng-repeat="exp in vm.expbList">{{exp.years}}</option>
                </select>
            </li>
            <li>
                <select name="" id="">
                    <option value="1">性别要求</option>
                    <option value="1">男</option>
                    <option value="1">女</option>
                </select>
            </li>
            <li>
                <select name="" id="">
                    <option value="1">到岗时间</option>
                    <option value="" ng-repeat="come in vm.comeJobList">{{come.name}}</option>
                </select>
            </li>
        </ul>
    </div>
    <!--推荐最新职位-->
    <div style="margin:10px;width: 100%">
        <div class="positionLeft write">
                <ul class="position-tj">
                    <li class="work-position-l">所有人才</li>
                    <li class="work-position-l">精英推荐</li>
                </ul>
                <div class=" personnel-select-fir">筛选：</div>
                <ul class="personnel-select">
                    <li class="personnel-select-li">更新时间</li>
                    <li class="personnel-select-li">发布时间</li>
                    <li class="personnel-select-li">身份验证</li>
                    <li class="personnel-select-li">有作品</li>
                </ul>
                <div class="position-list personnel-list " ng-repeat="data in vm.dataList|limitTo:10">
                    <div class="personnel-list-div">
                        <img src="{{data.img}}" alt="" class="personnel-img" title="点击查看人才详情">
                        <div class="person-list-intr" >
                            <div class="positionname">{{data.nickname}}</div>
                            <div class=" grayF personnel-demo ">
                                {{data.age}}岁|
                                <!--{{data.education}}工作经验|-->
                                {{data.education}}学历
                            </div>
                            <div class="personnel-demo">期望地点：{{data.job_address}}</div>
                        </div>
                    </div>
                    <div style="text-align: center" class="personnel-list-div">
                        <div class="grayF">期望职位：{{data.want_job}}</div>
                        <div class=" grayF personnel-demo">
                            <span>求职状态：{{data.job_type}}</span>
                        </div>
                        <div class="personnel-demo grayF ">TA想找<span class="personnel-active">{{data.want_job}}</span>工作</div>
                    </div>
                    <div  class="personnel-list-div person-list-btn">
                        <div class="grayF">
                            <span>更新时间：{{data.time}}</span>
                        </div>
                        <br>
                        <button class="position-btn"  ui-sref="personnel-detail({r_id:data.id})">查看简历</button>
                    </div>
                    <!--<div class="position-hr"></div>-->
                </div>
                <div class="container seeMore text-center workmore fr">
                    <img src="image/home/seeMore.png" alt="">
                </div>
            </div>
        <div class="positionRight write">
            <div class="hot-position"><span >推荐精英</span></div>
            <div class="hot-position-list" title="点击可查看职位详情" ng-repeat="person in vm.recommendResume" ui-sref="personnel-detail({r_id:person.id})">
                <div class="person-first">
                    <img src="{{person.img}}" alt="" class="headImg">
                    <div class="person-list-money"><span>{{person.nickname}}</span></div>
                </div>
                <div>{{person.age}}岁 | {{person.education}} | {{person.job_address}}</div>
                <div>{{person.job_type}} | 考虑换工作</div>
            </div>
            <div class=" seeMore text-center workmore">
                <img src="image/home/seeMore.png" alt="">
            </div>
        </div>
    </div>


</div>
<rd-footer></rd-footer>