<rende-header></rende-header>
<common-search></common-search>
<sus-box></sus-box>
<!--找人才-->
<div class="work-body container">
    <!--搜索-->
    <!--职位列表-->
    <div class="container checkBox">
        <div>
            <div class="row optRow">
                <span class="all  allType  Type">
                    职位:
                    <span ng-click="vm.clearJobType()" class="choice0 btn">全部</span>
                </span>
                <span  ng-click='vm.getJobType(x,$index+1)'
                       class="Type choice choice0"
                       ng-repeat="x in vm.typeList |limitTo: 6" on-finish-render-filters>
                    <span class="btn"> {{x}}</span>
                </span>
                <select ng-model="vm.selected"
                        ng-change="vm.getType(vm.selected)"
                        class="getMore typeSelect "
                        name="occupations" >
                    <option value="">&emsp;&emsp;更多&emsp;&emsp;</option>
                    <option value="{{x}}" ng-repeat="x in vm.otherTypes">{{x}}</option>
                </select>
            </div>
            <div class="row optRow">
                <span class="salaryBtn">
                    薪资:
                    <span ng-click="vm.clearSalary()" class="all Type allType choice choice1 btn opt">全部</span>
                </span>
                <span  ng-click='vm.getSalary(x,$index+1)'
                       class="Type choice choice1 salaryBtn opt"
                       ng-repeat="x in vm.salaryList">
                    <span class="btn"> {{x}}</span>
                </span>
                <span class="salaryInput">
                    <input ng-model="vm.low" type="number" class="work-input-input" id="startPay">
                     -
                    <input ng-model="vm.high" type="number" class="work-input-input" id="endPay">
                    <button ng-disabled="!vm.low||!vm.high" ng-click="vm.defSalary(vm.low,vm.high)" class="work-input-button btn">确定</button>
                </span>
            </div>
            <div class="row optRow boonRow">
            <span class="opt">
                福利:
                <span ng-click="vm.clearBoon()" class="all allBoon boonOpt btn">全部</span>
            </span>
                <span class="choice choice3 boonOpt"
                      ng-click="vm.getBoon(x.name)"
                      ng-repeat="x in vm.boon"
                      on-finish-render-filters>
                    <span class="btn">
                          {{x.name}}
                    </span>
                </span>
            </div>
            <div class="demand row optRow">
                <span class="ocp ">更多:
                    <span ng-click="vm.clearOthers()" class="opt1 ocp allOptions">全部</span>
                </span>
                <select class="ocp select"
                        id="nature"
                        ng-change="vm.getNature(vm.nature)"
                        ng-model="vm.nature">
                    <option value="">公司性质</option>
                    <option value="{{x.name}}" ng-repeat="x in vm.natureList">{{x.name}}</option>
                </select>
                <select class="ocp select"
                        id="education"
                        ng-change="vm.getEdu(vm.edu)"
                        ng-model="vm.edu">
                    <option value="">学历要求</option>
                    <option value="{{x.name}}" ng-repeat="x in vm.eduList">{{x.name}}</option>
                </select>
                <select ng-change="vm.getExp(vm.exp)"
                        ng-model="vm.exp"
                        id="experience"
                        class="ocp select">
                    <option value="">工作经验</option>
                    <option value="{{x.years}}" ng-repeat="x in vm.expList">{{x.years}}</option>
                </select>
                <select class="ocp select"
                        ng-change="vm.getSex(vm.sex)"
                        id="gender"
                        ng-model="vm.sex">
                    <option value="">性别要求</option>
                    <option value="男">男</option>
                    <option value="女">女</option>

                </select>
                <select class="ocp select"
                        ng-change="vm.getArrival(vm.time)"
                        id="arrival"
                        ng-model="vm.time">
                    <option value="" >到岗时间</option>
                    <option value="{{x.name}}" ng-repeat="x in vm.comeJobList">{{x.name}}</option>
                </select>
            </div>

        </div>
    </div>
    <!--推荐最新职位-->
    <div style="margin:10px;width: 100%">
        <div class="positionLeft write">
            <ul class="position-tj">
                <li class="work-position-l" ui-sref="personel({navType1:0})">所有人才</li>
                <li class="work-position-l" ui-sref="personel({navType1:1})">精英推荐</li>
            </ul>
            <!--<div class=" personnel-select-fir">筛选：</div>-->
            <!--<ul class="personnel-select">-->
                <!--<li class="personnel-select-li">更新时间</li>-->
                <!--<li class="personnel-select-li">发布时间</li>-->
                <!--<li class="personnel-select-li">身份验证</li>-->
                <!--<li class="personnel-select-li">有作品</li>-->
            <!--</ul>-->
            <div class="position-list personnel-list " ng-repeat="data in vm.dataList|limitTo:10"  ui-sref="personnel-detail({r_id:data.id})">
                <div class="personnel-list-div">
                    <img src="{{data.img}}" alt="" class="personnel-img" title="点击查看人才详情">
                    <div class="person-list-intr">
                        <div class="positionname">{{data.nickname}}</div>
                        <div class=" grayF personnel-demo ">
                            {{data.age ||"暂无"}}岁 | {{data.years||"暂无"}}工作经验  | {{data.education||"暂无"}}学历
                        </div>
                        <div class="personnel-demo">期望地点：{{data.job_address||"暂无"}}</div>
                    </div>
                </div>
                <div style="text-align: center" class="personnel-list-div">
                    <div class="grayF">期望职位：{{data.want_job||"暂无"}}</div>
                    <div class=" grayF personnel-demo">
                        <span>求职状态：{{data.job_type||"暂无"}}</span>
                    </div>
                    <div class="personnel-demo grayF ">TA想找<span class="personnel-active">{{data.want_job||"暂无"}}</span>工作</div>
                </div>
                <div  class="personnel-list-div person-list-btn">
                    <div class="grayF">
                        <span>更新时间：{{data.time}}</span>
                    </div>
                    <br>
                    <button class="position-btn" >查看简历</button>
                </div>
            </div>
            <div class="seeMore text-center workmore fr">
                <img src="image/home/seeMore.png" alt="">
            </div>
        </div>
        <div class="positionRight write" >
            <div class="hot-position"><span >推荐精英</span></div>
            <div class="hot-position-list tc" style="text-align: center;" title="点击可查看职位详情" ng-repeat="data in vm.dataList|limitTo:6"  ui-sref="personnel-detail({r_id:data.id})">
                <div class="">
                    <img src="{{data.img}}" alt="" class ="headImg">
                </div>
                <div class="person-list-money"><span style="color: black">{{data.nickname||"用户"}}</span></div>
                <div>{{data.age||"暂无"}}岁 | {{data.education||"暂无"}}工作经验  | {{data.education ||"暂无"}}学历</div>
                <div>{{data.job_type}} | 考虑换工作</div>
            </div>
            <div class=" seeMore text-center workmore">
                <img src="image/home/seeMore.png" alt="">
            </div>
        </div>
    </div>

</div>
<rd-footer></rd-footer>