<rende-header></rende-header>
<common-search></common-search>
<!--人才详情-->
<div class="work-body">
    <!--搜索-->
    <div class="workdetail-body">
        <div class="">
            <div class="">
                <!--人才详情-->
                <div class="headhunt-detail">
                    <img src="{{vm.x.img}}" alt="" class="personnel-img mt fl">
                    <div class="personnel-intr">
                            <div style="width: 100%">
                                <span class="personnel-name">{{vm.x.name||"用户"}}</span>
                                <span class="fr grayF">更新时间：{{vm.x.time}}</span><br>
                            </div>
                        <div style="width: 100%;">
                            <div class="personnel-detail-intr">
                                <span>年龄：{{vm.x.age}}</span><br>
                                <span>学历：{{vm.x.education}}</span><br>
                                <span>现居地：{{vm.x.address||"暂无"}}</span>
                            </div>
                            <div class="personnel-detail-intr">
                                <span>工作经验：{{vm.x.years}}年</span><br>
                                <span>联系邮箱：{{vm.x.email||"暂无"}}</span><br>
                                <span>联系电话：{{vm.x.phone}}</span>
                            </div>
                            <div class="personnel-detail-intr">
                                <span class="grayF fr personel-look-times" style="font-size: 14px">浏览次数：{{vm.x.looknum}}次</span><br>
                                <button class="position-btn fr"id="face" data-toggle="modal" data-target="#invitation" ng-if="vm.x.c_id==null">邀请面试</button>
                                <button class="position-btn fr" ng-if="vm.x.c_id!=null" style="background-color: grey" disabled="disabled">已邀请面试</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--求职意向-->
            <div class="detail-position-hr">
                <div class="position-hr-top">
                    <span > 求职意向</span>
                </div>
                <div class="intention">
                    <div class="personnel-detail-intention">
                        <span CLASS="grayF">意向岗位：</span> <span>{{vm.x.want_job}}</span><br>
                        <span CLASS="grayF">工作地点：</span>  <span>{{vm.x.job_address}}</span><br>
                        <span ng-if="vm.x.status" CLASS="grayF">到岗时间:</span>  <span>{{vm.x.job_type}}</span><br>

                    </div>
                    <div class="personnel-detail-intention">
                        <span CLASS="grayF">工作性质:</span>  <span>{{vm.x.nature||"无"}}</span><br>
                       <span CLASS="grayF">从事行业：</span>  <span>{{vm.x.want_job}}</span><br>
                       <!--<span CLASS="grayF">期望薪资：</span>  <span>￥5000-8000</span><br>-->
                        <span CLASS="grayF">求职状态：</span>  <span>{{vm.x.job_type}}</span>
                    </div>
                </div>
            </div>
            <!--求职经历-->
            <div class="detail-position-hr">
                <div class="position-hr-top">
                    <span > 工作经历</span>
                </div>
                <div class="intention">
                    <div class="work-exp-list" ng-repeat="work in vm.x.work_history track by $index">
                        <div class="personnel-detail-exp">
                            <span class="exp-title">{{work.startTime}} - {{work.endTime}}</span>
                        </div>
                        <div class="personnel-detail-exp2">
                            <div class="exp-title"><span>{{work.company}}</span> <span class="exp-title-work">{{work.job_name}}</span></div>
                            <br>
                            <p>
                                {{work.content}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--教育经历-->
            <div class="detail-position-hr">
                <div class="position-hr-top">
                    <span > 教育经历</span>
                </div>
                <div class="intention" ng-repeat="school in vm.x.allshool track by $index">
                    <div class="work-exp-list">
                        <div class="personnel-detail-exp">
                            <span class="exp-title">{{school.time}}</span>
                        </div>
                        <div class="personnel-detail-exp2">
                            <div class="exp-title"><span>{{school.School}}</span></div>
                            <br>
                            <p>
                               <span class="jy-exp">学历 :  {{school.education}}</span>
                               <span>专业 :  {{school.major}}</span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <!--自我评价-->
            <div class="detail-position-hr">
                <div class="position-hr-top">
                    <span > 自我评价</span>
                </div>
                <div class="intention">
                  <p class="self-pj">{{vm.x.recommend}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--邀请面试模态框-->
<div class="modal fade" id="invitation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 23%;">
        <div class="modal-content">
            <div class="modal-body ">
                <div class="invitation-title">邀请面试</div>
                <div class="invitation">
                  <div class="invitation-name">
                      <span>联系人：</span>
                      <span>联系电话：</span>
                      <span>面试时间：</span>
                  </div>
                    <div>
                        <input type="text" placeholder="请输入联系人~" ng-model="vm.info.name">
                        <input type="text" placeholder="请输入联系电话~" ng-model="vm.info.phone" >
                        <input type="text"
                               value="2017-07-31 17:58"
                               id="datetimepicker"
                               class="form_datetime"
                               data-date-format="yyyy-mm-dd hh:ii"
                               ng-model="vm.info.time">
                    </div>
                </div>
                <div class="invitation-btn">
                    <button  ng-click="vm.face(vm.x.id,vm.info)" >确认邀请</button>
                </div>

            </div>
        </div>
    </div>
</div>

<rd-footer></rd-footer>

<script src="js/laydate/laydate.js"></script>
<script>

</script>