<rende-header></rende-header>
<div id="header_top" class="container-fluid topShell">
    <div class="top container">
        <!--<div class="row">-->
        <div class="topDiv col-md-3 col-lg-3 col-sm-3 col-xs-12 types">
            <div ng-repeat="x in vm.jobType"
                 ng-mouseenter="vm.mouseEnter(x.id,$index)"
                 ui-sref="WorkCtrl({jobType: {{$index}}})"
                 class="type"  ng-mouseleave="vm.mouseLeave($index)" >
                <img src="image/icon/icon{{$index+1}}.png" alt="" class="changeImg">
                {{x.name}}
            </div>
            <div ng-if="vm.showCates" class="typeDetails">
                <span class="category" ng-repeat="x in vm.typeDetail" ng-click="vm.category(x.id)">{{x.name}}</span>
            </div>
        </div>
        <div class="topDiv swiper col-md-6 col-lg-6 col-sm-9 col-xs-12">
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div ng-repeat="x in vm.banner" class="item" on-finish-render-filters2>
                        <img src="{{x.img}}" alt="First slide">
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="search">
                <div class="searchBox">
                    <input placeholder="搜索职位、公司或地点" type="text"  ng-model="vm.keyword"><button ng-click="vm.showKey()" ui-sref="WorkCtrl({keyword: vm.keyword})">搜索</button>
                </div>
                <div class="hot">
                    <span class="redF">热门搜索:</span>
                    <span ui-sref="WorkCtrl({keyword:'{{x.name}}'})" ng-repeat="x in vm.hotSearch">{{x.name}}</span>
                </div>
            </div>
        </div>
        <div class="topDiv rightImg col-md-3 col-lg-3 col-sm-12 col-xs-12">
            <img ng-repeat="x in vm.banner" src="{{x.img}}" alt="">
        </div>
        <!--</div>-->
    </div>
</div>

<div class="container title">
    <div>
        名企招聘
    </div>
</div>
<div class="container services">
    <div class="theCard">
        <div class="cardTitle card1">人才外包服务套餐</div>
        <div class="cardContent">
            <span>通过我们仁德直聘专业和资深的招聘团队，我们为企业客户您定制个性化的招聘方案；用我们仁德直聘先进的网络信息招聘系统，并结合各大同行业的网络招聘系统，互相筛选，迅速为企业客户做出合理有效的招聘决策，提升招聘质量，迅速找出合适的人才为企业发展助力。</span>
        </div>
    </div>
    <div class="theCard">
        <div class="cardTitle card2">人力资源管理外包服务套餐</div>
        <div class="cardContent">
            <span>仁德人力资源代理服务为企业提供人力资源管理外包服务，服务内容包括：
                <br>人力资源薪酬福利管理服务;
                <br>人力资源绩效管理服务;
                <br>人力资源培训管理服务;
                <br>人力资源测评管理服务.
            </span>
        </div>
    </div>
    <div class="theCard">
        <div class="cardTitle card3">人才、劳务派遣服务套餐</div>
        <div class="cardContent">
            <span>    又称人才派遣、人才租赁、劳动力派遣、劳动力租赁，是指由仁德直聘公司委托第三方有资质的劳务派遣公司与派遣员工签订劳动合同，劳务派遣公司需为仁德直聘的入库筛选公司，经过考核完由劳务派遣公司派遣员工向用工企业客户提供劳务的一种新型用工模式。劳务派遣的员工劳动合同关系存在于劳务派遣公司与派遣员工之间，但派遣员工的劳动力则发生于派遣员工与用工企业之间。</span>
        </div>
    </div>
</div>
<div class="container title">
    <div>
        联系我们
    </div>
</div>
<div class="contact container">
    <div class="inIt mobile">
        <img src="image/home/telIcon.png" alt="">
        <span>400-832-0023</span>
    </div>
    <div class="inIt qq">
        <img src="image/home/qqIcon.png" alt="">
        <span>QQ:&nbsp;991986182</span>
    </div>
</div>
<rd-footer></rd-footer>