<rende-header></rende-header>
<common-search></common-search>
<div class="container">
    <div class="leftNav">
        <div ng-click="vm.pickNav(1)" class="{{vm.nav==1?'checkedNav':''}}">
            <span>推荐职位</span>
            <img src="image/home/threeSquare.png" alt="">
        </div>
        <div ng-click="vm.pickNav(2)" class="{{vm.nav==2?'checkedNav':''}}">
            <span>最新职位</span>
            <img src="image/home/threeSquare.png" alt="">
        </div>
    </div>
    <div class="hotOcp">
        <span class="underNav">职位: </span>
        <span ui-sref="recruit({type:1})" class="underNav hot {{vm.type==1?'checkedType':''}}">全部</span>
        <span ui-sref="recruit({type0:1})" class="underNav hot {{vm.type==0?'checkedType':''}}" ng-repeat="type in vm.typeList |limitTo :6">{{type}}</span>
        <!--<span ui-sref="recruit({type:3})" class="underNav hot {{vm.type==3?'checkedType':''}}">电子</span>-->
        <!--<span ui-sref="recruit({type:4})" class="underNav hot {{vm.type==4?'checkedType':''}}">保姆</span>-->
        <!--<span ui-sref="recruit({type:5})" class="underNav hot {{vm.type==5?'checkedType':''}}">货运</span>-->
        <!--<span ui-sref="recruit({type:6})" class="underNav hot {{vm.type==6?'checkedType':''}}">快递</span>-->
        <select class="underNav select" name="kind" id="" ng-model="vm.selectType" >
            <option value="">更多</option>
            <option value="{{type}}"ng-repeat="type in vm.typeList">{{type}}</option>
        </select>
    </div>
</div>
<div class="container recruitment">
    <div ng-repeat="x in vm.cardData |filter:vm.selectType" ui-sref="GWDetail({id:x.id})" class="card">
        <div class="salary">
            <span>{{x.title}}</span>
        </div>
        <div class="desc grayF">{{x.job_type}} / {{x.money}} / {{x.sex}} / {{x.years}}工作经验 / {{x.content}}</div>
        <div class="tel">{{x.phone}}</div>
        <div class="address">
            <span>{{x.address}}</span>
            <span class="grayF pull-right">{{x.time}}</span>
        </div>
    </div>
</div>
<div class="noList container">暂无数据</div>
<div class="container">
    <div class="seeMore text-center">
        <img src="image/home/seeMore.png" alt="">
    </div>
</div>
<rd-footer></rd-footer>