<rende-header></rende-header>
<div class="container search_s">
    <input class="input" placeholder="关键词搜索简历" type="text" ng-model="mSearch">
    <span class="text-center">搜索</span>
</div>
<div class="container options">
    <div class="position">
        <span class="ocp ">职位:</span>
        <span ng-click="vm.jobTypeFilter('')" class="opt0 ocp">全部</span>
        <span ng-click="vm.jobTypeFilter(type,$index+1)"
              class="opt0 ocp"
              ng-repeat="type in vm.typeList |limitTo:7"
              on-finish-render-filters2>
            {{type}}
        </span>
        <select class="ocp"
                ng-model="vm.jobType"
                ng-change="vm.jobTypeFilter(vm.jobType)"
                ng-options="y for y in vm.typeList">
            <option value="">更多</option>
        </select>
    </div>
    <div class="demand">
        <span class="ocp ">更多:</span>
        <span ng-click="vm.clearMatch()" class="opt1 ocp allOptions">全部</span>
        <select class="ocp select"
                id="timeSelect"
                ng-model="vm.select"
                ng-change="vm.range(vm.select.value)"
                ng-options="m.name for m in vm.orderBy">
        </select>
        <select class="ocp select"
                id="education"
                ng-change="vm.eduFilter(vm.education)"
                ng-model="vm.education">
            <option value="">学历要求</option>
            <option value="{{edu.name}}" ng-repeat="edu in vm.eduList">{{edu.name}}</option>
        </select>
        <select ng-change="vm.expFilter(vm.exp)"
                ng-model="vm.exp"
                class="ocp select">
            <option value="">工作经验</option>
            <option value="{{exp.years}}" ng-repeat="exp in vm.expbList">{{exp.years}}</option>
        </select>
        <select class="ocp select"
                ng-change="vm.sexFilter(vm.sex)"
                ng-model="vm.sex">
            <option value="">性别要求</option>
            <option value="男">男</option>
            <option value="女">女</option>

        </select>
        <select class="ocp select"
                ng-change="vm.arrival(vm.come_job)"
                ng-model="vm.come_job">
            <option value="" >到岗时间</option>
            <option value="{{come.name}}" ng-repeat="come in vm.comeJobList">{{come.name}}</option>
        </select>
    </div>
</div>
<div class="navTitle container">
    <div class="{{vm.resumeType==0?'checkedResume':''}}"
         ng-click="vm.tabSwitch(0)">
        <span class="text-center" ng-click="vm.cardDataList('')">全部</span>
        <img src="image/home/arrowBottom_white.png" alt="">
    </div>
    <div class="{{vm.resumeType==1?'checkedResume':''}}"
         ng-click="vm.tabSwitch(1)">
        <span class="text-center" ng-click="vm.cardDataList('')">收到的投递</span>
        <img src="image/home/arrowBottom_white.png" alt="">
    </div>
    <div class="{{vm.resumeType==2?'checkedResume':''}}"
         ng-click="vm.tabSwitch(2)">
        <span class="text-center">邀请面试</span>
        <img src="image/home/arrowBottom_white.png" alt="">
    </div>
</div>
<div class="container main_content">
    <div ng-if="vm.resumeType==0"
         ng-repeat="x in vm.cardData |limitTo:8|orderBy:x.time:vm.boolean"  >
        <div class="lPart">
            <img ng-src="{{x.img}}" alt="">
            <div class="onLeft">
                <div class="left1">
                    <div class="nameAndOcp">
                        <span class="name">{{x.name}}</span>
                        <img src="image/home/vipSign.png" alt="">
                        <span class="position">{{x.want_job}}</span>
                    </div>
                    <div class="intro">{{x.age}}岁 | {{x.years}}岁 | {{x.education}}学历</div>
                    <div class="place">{{x.job_address}}</div>
                </div>
            </div>
        </div>
       <div class="cPart">
           <div class="right1">
               <div class="like">{{x.want_job}}</div>
               <div class="status">{{x.job_type}}</div>
           </div>
       </div>
       <div class="rPart">
           <div class="onRight text-center">
               <div class="updateAt">更新时间:{{x.time}}</div>
               <div ui-sref="personnel-detail({r_id:{{x.r_id}},g_id:{{x.id}}})"
                    class="button">
                   查看简历
               </div>
               <div class="button" ng-click="vm.inviteFace(x.r_id)">邀请面试</div>
           </div>
       </div>


    </div>

    <div ng-if="vm.resumeType==1"
         ng-repeat="x in vm.cardData |limitTo:8|orderBy:x.time:vm.boolean"  >
        <div class="lPart">
            <img ng-src="{{x.img}}" alt="">
            <div class="onLeft">
                <div class="left1">
                    <div class="nameAndOcp">
                        <span class="name">{{x.name}}</span>
                        <img src="image/home/vipSign.png" alt="">
                        <span class="position">{{x.want_job}}</span>
                    </div>
                    <div class="intro">{{x.age}}岁 | {{x.years}}岁 | {{x.education}}学历</div>
                    <div class="place">{{x.job_address}}</div>
                </div>
            </div>
        </div>
        <div class="cPart" ng-hide="vm.interview==1">
            <div class="right1">
                <div class="like">{{x.want_job}}</div>
                <div class="status">{{x.job_type}}</div>
            </div>
        </div>
        <div class="rPart">
            <div class="onRight text-center">
                <div class="updateAt">更新时间:{{x.time}}</div>
                <div ui-sref="personnel-detail({r_id:{{x.r_id}},g_id:{{x.id}}})"
                     class="button">查看简历</div>
                <div class="button" ng-click="vm.inviteFace(x.r_id)">邀请面试</div>
            </div>
        </div>

    </div>

    <div ng-if="vm.resumeType==2"
         ng-repeat="x in vm.cardData |limitTo:8|orderBy:x.time:vm.boolean"  >
        <div class="lPart face">
            <img ng-src="{{x.img}}" alt="">
            <div class="onLeft">
                <div class="left1">
                    <div class="nameAndOcp">
                        <span class="name">{{x.name}}</span>
                        <img src="image/home/vipSign.png" alt="">
                        <span class="position">{{x.want_job}}</span>
                    </div>
                    <div class="intro">{{x.age}}岁 | {{x.years}}岁 | {{x.education}}学历</div>
                    <div class="place">{{x.job_address}}</div>
                </div>
            </div>
        </div>

        <div class="cPart">
            <div class="right1">
                <span>面试信息:</span>
                <div class="right1Info">
                    <div class="faceAt">面试时间:{{x.interview_time}}</div>
                    <div class="contact">联系人:{{x.name}}</div>
                    <div class="tel">联系电话:{{x.phone}}</div>
                </div>
            </div>

        </div>
        <div class="rPart">
            <div class="onRight text-center">
                <div class="updateAt">更新时间:{{x.time}}</div>
                <div class="button">打印简历</div>
                <div class="button">面试完成</div>
            </div>
        </div>
    </div>
</div>
<rd-footer></rd-footer>























