<!--页眉-->
<rende-header></rende-header>
<common-search></common-search>
<!--xuanze-->
<div class="container enterNav">
    <div class="row" style="margin-bottom: 15px;">
        <div class="wantedBlock col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <!--基本资料-->
            <div class="info">
                <div class="avatar">
                    <img src="im{{vm.resume.img}}" alt="">
                </div>
                <div class="fill1">
                    <div class="real_name">{{vm.resume.name ||"暂无用户名"}}</div>
                    <div>年龄: {{vm.resume.age||"暂无"}}</div>
                    <div>学历: {{vm.resume.education||"暂无"}}</div>
                    <div>现居地: {{vm.resume.address||"暂无"}}</div>
                </div>
                <div class="fill2">
                    <div style="visibility: hidden;">从事行业: {{vm.resuem.want_job||"暂无"}}</div>
                    <div>工作经验: {{vm.resume.years ||"暂无"}}年</div>
                    <div>联系电话: {{vm.resume.phone||"暂无"}}</div>
                    <div>电子邮箱: {{vm.resume.email||"暂无"}}</div>
                </div>
                <img ng-show="!vm.table1&&!vm.table2" ng-click="vm.edit1()" class="editIcon" src="image/home/editIcon.png" alt="">
                <div ng-show="vm.table1" class="editTable">
                    <form  class="table1" name="table1">
                        <div>
                            头像： <img src="image/home/resume_avatar.png" alt="">
                            <label for="avatarEdit">
                                <input style="display: none;" id="avatarEdit" type="file"  ng-model="vm.resume.img">
                                 选择图片
                            </label>
                        </div>
                        <div class="age">
                            年龄: <input type="number" required ng-model="vm.resume.age">
                        </div>
                        <div class="edu">
                            学历:
                            <select required ng-model="vm.resume.education">
                                <option value="{{edu.name}}" ng-repeat="edu in vm.eduList">{{edu.name}}</option>
                            </select>
                        </div>
                        <div class="residence">
                            现居地: <input type="text" required ng-model="vm.resume.address">
                        </div>
                        <div class="exp">
                            工作经验:
                            <input type="text" required ng-model="vm.resume.years">
                        </div>
                        <div class="mobile">
                            联系电话: <input type="tel" required ng-model="vm.resume.phone">
                        </div>
                        <div class="email" ng-model="vm.resume.phone">
                            联系邮箱: <input type="email" required ng-model="vm.resume.email">
                        </div>
                        <div class="commit text-center">
                            <button ng-click="vm.edit1();vm.commit1(vm.resume)" ng-disabled="table1.$invalid" class="resume-btn">提交</button>
                        </div>
                        <img ng-click="vm.edit1()" src="image/home/close.png" alt="">
                    </form>
               </div>
            </div>
            <!--求职意向-->
            <div class="infoHeader">
                <span>求职意向</span>
            </div>
            <div class="info">
               <div class="fill1">
                   <div>意向岗位：{{vm.resume.want_job}}</div>
                   <div>工作地点: {{vm.resume.job_address}}</div>
                   <div>到岗时间: {{vm.resume.come_job}} </div>
               </div>
               <div class="fill2">
                   <div>从事行业:  {{vm.resume.skill}}</div>
                   <!--<div>期望薪资: ￥-->
                       <!--<span>5000</span>- -->
                       <!--<span>8000</span>-->
                   <!--</div>-->
                   <div>工作性质:  {{vm.resume.nature}}</div>
                   <div>求职状态:  {{vm.resume.job_type}}</div>
               </div>
               <img ng-show="!vm.table2&&!vm.table1" ng-click="vm.edit2()" class="editIcon" src="image/home/editIcon.png" alt="">
               <div ng-show="vm.table2" class="editTable">
                    <form  class="table2" name="table2">
                        <div class="aim">
                            意向岗位: <input type="text"  ng-model="vm.resume.want_job">
                        </div>
                        <div class="place">
                            工作地点:
                            <div class="form-inline adress-select" >
                                <div id="distpicker5" style="display:flex;margin-right: 14px;">
                                    <div class="form-group" style="margin-right: 10px;">
                                        <label class="sr-only" for="province10">Province</label>
                                        <select class="form-control" id="province10" ></select>
                                    </div>
                                    <div class="form-group" style="margin-right: 10px;">
                                        <label class="sr-only" for="city10">City</label>
                                        <select class="form-control" id="city10"></select>
                                    </div>
                                    <div class="form-group" style="margin-right: 10px;">
                                        <label class="sr-only" for="district10">District</label>
                                        <select class="form-control" id="district10"></select>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="putadress" value="{{vm.resume.job_address}}">
                        </div>
                        <div class="reachTime">
                            到岗时间:
                            <select  ng-model="vm.resume.come_job">
                                <option value="{{comejob.name}}" ng-repeat="comejob in vm.comeJobList">{{comejob.name}}</option>
                            </select>
                        </div>
                        <div class="charactor">
                            工作性质:
                            <select  ng-model="vm.resume.nature" >
                                <option value="{{nature.name}}" ng-repeat="nature in vm.natureList">{{nature.name}}</option>
                            </select>
                        </div>
                        <div class="industy">
                            从事行业: <input type="text"  ng-model="vm.resume.skill">
                        </div>
                        <!--<div class="salary">-->
                            <!--期望薪资:-->
                            <!--<div>-->
                                <!--<input type="text" required>-->
                                <!--<input type="text" required>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="status">
                            求职状态:
                            <select  ng-model="vm.resume.job_type" >
                                <option value="离职-随时到岗" >离职-随时到岗</option>
                                <option value="在职-暂不考虑" >在职-暂不考虑</option>
                                <option value="在职-考虑机会" >在职-考虑机会</option>
                                <option value="在职-月内到岗" >在职-月内到岗</option>
                            </select>
                        </div>
                        <div class="commit text-center">
                            <button ng-click="vm.edit2();vm.commit2(vm.resume)" class="resume-btn">提交</button>
                        </div>
                        <img ng-click="vm.edit2()" src="image/home/close.png" alt="">
                    </form>
                </div>
           </div>
            <!--工作经历-->
            <div class="infoHeader">
                <span>工作经历</span>
            </div>
            <div class="info jobExpShell" ng-repeat="work in vm.work_history">
                <div class="jobExp">
                    <div class="major">
                        <div class="duration">
                            <span>{{work.startTime}}</span>-
                            <span>{{work.endTime}}</span>
                        </div>
                        <div class="compName">{{work.company}}</div>
                        <div class="ocp">{{work.job_name}}</div>
                        <div class="fr">
                            <!--<span class="modify">修改</span>-->
                            <span class="delete" ng-click="vm.delete()">删除</span>
                        </div>
                    </div>
                    <div class="tails">
                        {{work.content}}
                    </div>
                </div>
            </div>
            <div class="addExp">
                <div class="addExpbtn"> 添加工作经历</div>
                <div style="display: none;" class="editTable">
                    <form  class="table3" name="tableAdd">
                        <div class="duration">
                            起始时间:
                            <div>
                                <input type="text"  required="" id="starttime" placeholder="yyyy-MM-dd"  class="layui-input" ng-model="vm.work.startTime">
                                <input type="text"  required="" id="endtime" placeholder="yyyy-MM-dd"  class="layui-input" ng-model="vm.work.endTime  ">
                            </div>
                        </div>
                        <div class="compName">
                            公司名称: <input type="text" required="" ng-model="vm.work.company">
                        </div>
                        <div class="ocp">
                            任职岗位:
                            <select ng-model="vm.work.job_name  ">
                                <option ng-repeat="type in vm.typeList" value="{{type}}">{{type}}</option>
                            </select>
                        </div>
                        <div class="ocpDetail">
                            具体工作:
                            <textarea style="width: 100%;height: 150px"  required=""  id="" cols="30" rows="10" ng-model="vm.work.content " ></textarea>
                        </div>
                        <div class="commit text-center">
                            <button ng-click="vm.commitAdd(vm.work)" class="resume-btn">提交</button>
                        </div>
                        <img src="image/home/close.png" alt="">
                    </form>
                </div>
            </div>
            <!--教育经历-->
            <div class="infoHeader">
                <span>教育经历</span>
            </div>
            <div class="info eduShell"  ng-repeat="edu in vm.allshool">
                <div class="eduExp">
                    <div class="major">
                        <div class="duration">
                            <span>{{edu.time}}</span>
                        </div>
                        <div class="campName">{{edu.School }}</div>
                        <div class="education">学历:{{edu.education }}</div>
                        <div class="profession">专业: {{edu.major }}</div>
                    </div>
                </div>
            </div>
            <div class="addEdu">
                <div class="addEduBtn"> 添加教育经历</div>
                <div style="display: none;" class="editTable">
                    <form  class="table3" name="eduAdd">
                        <div class="duration">
                            起始时间:
                            <div>
                                <input type="text"  required="" id="edustarttime" placeholder="yyyy-MM-dd"  class="layui-input" ng-model="vm.edu.time">
                            </div>
                        </div>
                        <div class="campName">
                            学校名称: <input type="text" required="" ng-model="vm.edu.School  ">
                        </div>
                        <div class="ocp">
                            学历:
                            <select  ng-model="vm.resume.education" >
                                <option value="离职-随时到岗" ng-repeat="edu in vm.eduList">{{edu.name}}</option>
                            </select>
                        </div>
                        <div class="ocpDetail">
                            专业: <input type="text" required="" ng-model="vm.edu.major  ">
                        </div>
                        <div class="commit text-center">
                            <button ng-click="vm.edit3();vm.commit3(vm.edu)" class="resume-btn">提交</button>
                        </div>
                        <img ng-click="vm.edit3()" src="image/home/close.png" alt="">
                    </form>
                </div>
            </div>
            <!--自我评价-->
            <div class="infoHeader">
                <span>自我评价</span>
            </div>
            <div class="info">
                <div class="evaluation">
                  {{vm.resume.recommend ||"未填写"}}
                </div>
                <img ng-show="!vm.evaluation" ng-click="vm.editEval()" class="editIcon" src="image/home/editIcon.png" alt="">
                <div ng-show="vm.evaluation" class="editTable">
                    <form  class="table2" name="table2">
                        自我评价：
                        <textarea style="width: 100%; margin-top: .25rem;" name="evaluation" id="eval" cols="30" rows="10" ng-model="vm.resume.recommend  "></textarea>
                        <div class="commit text-center">
                            <button ng-click="vm.editEval();vm.commitEval()" ng-disabled="table2.$invalid" class="resume-btn">提交</button>
                        </div>
                        <img ng-click="vm.editEval(vm.resume)" src="image/home/close.png" alt="">
                    </form>
                </div>
            </div>
        </div>
        <div class="recommend col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="RHshell fileUp">
                <div class="rightHeader">
                    <span>附件</span>
                </div>
            </div>
            <div class="docName">
                <div class="name">
                    <img src="image/home/docIcon.png" alt="">文档名称速度快洒家打开
                </div>
                <label for="inputFile">
                    <input style="display: none;" type="file" id="inputFile">
                    <div>添加附件</div>
                </label>
                <span>支持 DOC、DOCX、PDF、JPG、PNG格式附件，文件大小不超过10M</span>
            </div>
        </div>
        <div class="recommend col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="RHshell fileUp">
                <div class="rightHeader">
                    <span>推荐企业</span>
                </div>
            </div>
            <!--<div class="occupation">-->
                <!--<div class="row1">-->
                     <!--<span class="companyName">-->
                     <!--博&nbsp;业<br>建&nbsp;设-->
                     <!--</span>-->
                <!--</div>-->
                <!--<div class="enterName text-center">-->
                    <!--福建博业建设集团有限公司福州分公司-->
                <!--</div>-->
            <!--</div>-->

            <div ui-sref="enterpriseInfo" class="occupation"  ng-repeat="data in vm.companylist|limitTo:3" >
                <div class="row1">
                    <img class="companyName company-logo" src="{{data.img}}" style="padding: 0">
                </div>
                <div class="text-center" style="display: block">
                    <div>{{data.name}}</div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--底部-->
<rd-footer></rd-footer>

<script src="js/adresspicker/distpicker.data.js"></script>
<script src="js/adresspicker/distpicker.js"></script>
<script src="js/adresspicker/main.js"></script>


<script>

</script>