<rende-header></rende-header>
<common-search></common-search>
<!--商品详情-->
<div class="work-body">
    <!--搜索-->
    <!--职位详情-->
    <div class="workdetail-banner">
        <span>当前位置：</span>首页 > 商品列表 > 商品详情
    </div>
    <div class="workdetail-body">
        <div class="detail-left">
            <div class="detail-position shop-detail">
               <div class="shop-detail-img">
                   <img src="image/shopdetail0.png" alt="">
               </div>
                <div class="shop-intr">
                    <div class="shop-name ">美的(Midea)638升 对开门冰箱 智能双变频无霜</div>
                    <div>所需积分：<span class="colorRed">435000</span>个积分</div>
                    <div>剩余库存：<span class="colorYellow">66</span>件 （已兑换<span class="colorYellow">0</span>件）</div>
                    <div>限购数量：1件</div>
                    <div>
                        <span class="fl">兑换数量：</span>
                        <div class="fl shop-num">
                            <button ng-click="vm.reduce()"> - </button>
                            <input type="number" value="1" id="num">
                            <button ng-click="vm.add()"> + </button>
                        </div>
                    </div>
                    <div class="fl dhsl"><button class="detail-position-put-button ">立即兑换</button></div>
                </div>
            </div>
            <!--商品详情-->
            <div class="detail-position-hr">
                <div class="position-hr-top"><span> 商品详情</span></div>
                <div class="position-hr-content">

                    <img src="image/shopdetail2.png" alt="" class="shop-detail-intrimg">
                    <img src="image/shopdetail3.png" alt="" class="shop-detail-intrimg">
                    <img src="image/shopdetail1.png" alt="" class="shop-detail-intrimg">
                </div>
            </div>
        </div>

        <div class="detail-right-other" style="padding-bottom: 0">
            <div class="detail-right-other-name"><span>猜你喜欢</span></div>
                <div class="detail-right-other-name-intr" style="border-bottom: none">
                    <div class="shop-detail-likeimg fl">
                        <img src="image/shopdetail4.png" alt="" >
                    </div>
                    <div class="shop-detail-likeintr fl">
                        <div>Dior/迪奥烈焰蓝金唇膏3.5g哑光3</div>
                        <div> 所需积分：<span class="likeRed ">30000</span> 积分</div>
                    </div>
                </div>
            <div class="detail-right-other-name-intr" style="border-bottom: none">
                <div class="shop-detail-likeimg fl">
                    <img src="image/shopdetail4.png" alt="" >
                </div>
                <div class="shop-detail-likeintr fl">
                    <div>Dior/迪奥烈焰蓝金唇膏3.5g哑光3</div>
                    <div> 所需积分：<span class="likeRed ">30000</span> 积分</div>
                </div>
            </div>
        </div>


    </div>
</div>
<rd-footer></rd-footer>