<rende-header></rende-header>
<common-search></common-search>
<!--商品详情-->
<div class="work-body">
    <!--搜索-->
    <!--职位详情-->
    <div class="workdetail-banner">
        <span>当前位置：</span>首页 > 商品列表 > 商品详情
    </div>
    <div class="workdetail-body">
        <div class="detail-left">
            <div class="detail-position shop-detail">
                <div class="shop-detail-img">
                    <img src="{{ vm.shop .img}}" alt="">
                </div>
                <div class="shop-intr">
                    <div class="shop-name ">{{ vm.shop .name }}</div>
                    <div>所需积分：<span class="colorRed">{{ vm.shop .integral}}</span>个积分</div>
                    <div>剩余库存：<span class="colorYellow">{{ vm.shop .stock }}</span>件 （已兑换<span class="colorYellow">{{ vm.shop .num}}</span>件）</div>
                    <div>限购数量：<span  id="limitBuy" >{{vm.shop.shop_num}}</span>件</div>
                    <div>
                        <span class="fl">兑换数量：</span>
                        <div class="fl shop-num">
                            <button ng-click="vm.reduce()"> - </button>
                            <input type="number" value="1" id="num" disabled="disabled">
                            <button ng-click="vm.add()"> + </button>
                        </div>
                    </div>
                    <div class="fl dhsl"><button class="detail-position-put-button " data-toggle="modal" data-target="#exchange">立即兑换</button></div>
                    <!--ng-click="vm.exchange(vm.shop.id)"-->
                </div>
            </div>
           <!--模态框-->
            <div class="modal fade" id="exchange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width: 45%;">
                    <div class="modal-content">
                        <div class="modal-body shop-exchange">
                            <div class="shop-exchangeL">
                                <div>收件人姓名:</div>
                                <input type="text" ng-model="vm.info.name" placeholder="请输入收件人姓名" >
                                <div>收件人手机号:</div>
                                <input type="text"  ng-model="vm.info.phone" placeholder="请输入收件人手机号" >
                                <div>收件人地址:</div>
                                <textarea type="text"  ng-model="vm.info.address" placeholder="请输入收件地址" style="    width: 228px;
    height: 99px;    resize: none;"></textarea>
                            </div>
                            <div class="shop-exchangeR">
                               <div>温馨提示：</div>
                                <div class="exchange-ts">兑换物品将于七个工作日内到达！</div>
                            </div>
                        </div>
                        <div class="exchange-bt">
                            <button ng-click="vm.exchange(vm.shop.id,vm.info)">确定</button>
                        </div>

                    </div>
                </div>
            </div>

            <!--商品详情-->
            <div class="detail-position-hr">
                <div class="position-hr-top"><span> 商品详情</span></div>
                <div class="redeem_gift_detail">
                    <div ng-repeat="spec in vm.specList">{{spec}}</div><br>
                </div>
                <div class="position-hr-content" ng-repeat="img in vm.imgList track by $index" style="margin-top: 0">
                    <img src="{{img}}" alt="" class="shop-detail-intrimg">
                </div>
            </div>
        </div>

        <div class="detail-right-other" style="padding-bottom: 0">
            <div class="detail-right-other-name"><span>猜你喜欢</span></div>
            <div class="detail-right-other-name-intr" style="border-bottom: none" ng-repeat="like in vm.likeList" ui-sref="shop-detail({id:like.id})">
                <div class="shop-detail-likeimg fl">
                    <img src="{{like.img}}" alt="" >
                </div>
                <div class="shop-detail-likeintr fl">
                    <div>{{like.name}}</div>
                    <div class="integral"> 所需积分：<span class="likeRed ">{{like.integral}}</span> 积分</div>
                </div>
            </div>
        </div>


    </div>
</div>
<rd-footer></rd-footer>