<div class="container-fluid signPage">
    <img  ui-sref="home" src="image/home/logo.png" alt="">
    <div class="catchword">
        <span ui-sref="home">仁德直聘，给你最好的人才招聘!</span>
    </div>
    <div class="mainShell">
        <div ng-show="vm.choice" class="main text-center">
            <h3 class="text-center">注册仁德直聘</h3>
            <div class="tip1 text-center">使用手机号注册</div>
            <div class="table">
                <div class="pickers text-center">
                    <span ui-sref="signPage({clientId:1})" class="navSign">我要求职</span>
                    <span ui-sref="signPage({clientId:2})" class="navSign">我是猎头</span>
                    <span ui-sref="signPage({clientId:3})" class="navSign">我要招聘</span>
                </div>
                <div class="inputs">
                    <label class="label1" for="mobile">
                        <img src="image/home/signIcon_gray.png" alt="">
                        <input id="mobile" type="text" ng-model="vm.phone" placeholder="手机号">
                    </label>
                    <label  class="label2" for="Ecode">
                        <img src="image/home/signIcon_gray.png" alt="">
                        <input id="Ecode" type="text" placeholder="验证码">
                        <span>| 发送验证码</span>
                    </label>
                </div>
                <div ng-click="vm.getECode()" class="signBtn text-center">注册</div>
            </div>
            <div class="deal text-center">
                点击注册即同意
                <span class="redF">用户协议及隐私政策</span>
            </div>
            <div class="login text-center">已有账号
                <span class="redF" ui-sref="signPage({choice:0})">直接登录</span>
            </div>
        </div>
        <div ng-show="!vm.choice" class="main text-center">
            <h3 class="text-center">登录仁德直聘</h3>
            <div style="visibility: hidden" class="tip1 text-center">使用手机号注册</div>
            <div class="table">
                <div class="pickers text-center">
                    <span class="navLogin" ui-sref="signPage({method:2})" ng-click="vm.msgLogin()">短信登录</span>
                    <span class="navLogin" ui-sref="signPage({method:1})" ng-click="vm.codeLogin()">密码登录</span>
                </div>
                <div class="inputs">
                    <label class="label1" for="Lmobile">
                        <img src="image/home/signIcon_gray.png" alt="">
                        <input id="Lmobile" ng-model="vm.phone" type="text" placeholder="手机号" value="13328942165">
                    </label>
                    <label ng-if="vm.method==1" class="label2" for="Ecode2">
                        <img src="image/home/signIcon_gray.png" alt="">
                        <input id="Ecode2" type="text" placeholder="密码">
                        <!--<span>|&emsp;发送验证码</span>-->
                    </label>
                    <label ng-if="vm.method==2" class="label2" for="LEcode">
                        <img src="image/home/signIcon_gray.png" alt="">
                        <input id="LEcode" type="text" placeholder="验证码">
                        <span>| 发送验证码</span>
                    </label>
                </div>
                <div ng-click="vm.getECode()" class="signBtn text-center">登录</div>
            </div>
            <div class="login text-center">
                <span>
                    <img src="" alt="">
                    微信登录
                </span>
                <span class="redF" ui-sref="signPage({choice:1})">立即注册</span>
            </div>
        </div>
    </div>
</div>
















