<!--页眉-->
<!--页眉-->
<rende-header></rende-header>
<div class="BG container-fluid text-center">
    欢迎来到积分商城，你想要的这里都有！！
</div>
<div class="main container">
    <div class="row">
        <div class="col-lg-8 content1">
            <div class="productTitle">
                <span>推荐商品</span>
            </div>
            <div class="blockCard">
                <div ui-sref="shop-detail({id:shop.id})" class="cardUnit text-center" ng-repeat="shop in vm.shoppingList">
                    <img src="{{shop.img}}" alt="">
                    <div class="productName">{{shop.name}}</div>
                    <div class="scoreNeed">
                        所需积分: <span>{{shop.integral }}</span>
                    </div>
                </div>
                <div class="seeMorePng text-center">
                    <img src="image/home/seeMore.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="user">
                <div class="userInfo">
                    <img src="image/home/out_avatar.png" alt="">
                    <div>
                        <div class="username">呈现的是</div>
                        <div class="userScore">
                            可用积分: <span>{{vm.userList.integral}}</span>
                        </div>
                    </div>
                </div>
                <div class="instructor">
                    <div class="text-center leftIntro" ui-sref="help">
                        <img src="image/store/instuctor.png" alt=""> <br>
                        <span>积分说明</span>
                    </div>
                    <div class="text-center">
                        <img src="image/store/exchange.png" alt=""> <br>
                        <span>我的兑换</span>
                    </div>
                </div>
            </div>
            <div class="youLike">
                <div class="productTitle">
                    <span>猜你喜欢</span>
                </div>
                <div class="goods" ng-repeat="like in vm.likeList" ui-sref="shop-detail({id:like.id})">
                    <img src="{{like.img}}" alt="">
                    <div>
                        <div class="goodsName">{{like.name}}</div>
                        <div class="goodsPrice">
                            所需积分: <span>{{like.integral}}</span>积分
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-lg-8 content1">
            <div class="productTitle">
                <span>最新商品</span>
            </div>
            <div class="blockCard">
                <div class="cardUnit text-center" ng-repeat="time in vm.timeList" ui-sref="shop-detail({id:time.id})">
                    <img src="{{time.img}}" alt="">
                    <div class="productName">{{time.name}}</div>
                    <div class="scoreNeed">
                        所需积分: <span>{{time.integral}}</span>
                    </div>
                </div>
                    <img src="image/home/seeMore.png" alt="" ng-hide="vm.timeList.length<3">
                </div>
            </div>
    </div>
</div>
<rd-footer></rd-footer>