<!--页眉-->
<rende-header id="header_top"></rende-header>
<sus-box></sus-box>
<div class="BG container-fluid text-center">
    欢迎来到积分商城，你想要的这里都有！！
</div>
<div class="storeMain main container">
    <div class="row">
        <div class="col-lg-8 content1">
            <div class=" optRow">
                <span class="salaryBtn">
                    薪资:
                    <span ng-click="vm.clearSalary()" class="all Type allType choice choice1 btn opt" id="all">全部</span>
                </span>
                <span  ng-click='vm.getSalary(x,$index+1)'
                       class="Type choice choice1 salaryBtn opt"
                       ng-repeat="x in vm.salaryList" on-finish-render-filters>
                    <span class="btn"> {{x}}</span>
                </span>
                <span class="salaryInput">
                    <input ng-model="vm.low" type="number" class="" id="startPay">
                     -
                    <input ng-model="vm.high" type="number" class="" id="endPay">
                    <button ng-disabled="!vm.low||!vm.high" ng-click="vm.defSalary(vm.low,vm.high)" class="work-input-button btn">确定</button>
                </span>
            </div>
            <div class="productTitle">
                <span ng-hide="vm.type==1">推荐商品</span>
                <span ng-show="vm.type==1">我的兑换</span>
            </div>
            <div class="blockCard">
                <div ui-sref="shop-detail({id:shop.id})" class="cardUnit text-center storeList" ng-repeat="shop in vm.shoppingList">
                    <img src="{{shop.img}}" alt="">
                    <div class="productName">{{shop.name}}</div>
                    <div class="scoreNeed">
                        所需积分: <span>{{shop.integral }}</span>
                    </div>
                </div>
                <div ng-show="vm.shoppingList.length==0">
                    <!--<img src="image/no_data.png">-->
                    <div class="no-List">您目前还没有兑换列表~</div>
                </div>
                <!--<page-model style="float: left" ng-if="!vm.navType" page="vm.page" total="vm.total" size="vm.size"></page-model>-->
                <div class="pageFromBase"></div>
            </div>

            <div class="productTitle">
                <span>最新商品</span>
            </div>
            <div class="blockCard">
                <div class="cardUnit text-center" ng-repeat="time in vm.timeList" ui-sref="shop-detail({id:time.id})">
                    <img src="{{time.img}}" alt="">
                    <div class="productName">{{time.name}}</div>
                    <div class="scoreNeed">
                        所需积分: <span>{{time.integral}}</span>
                    </div>
                </div>
                <div class="seeMorePng text-center" >
                    <img src="image/home/seeMore.png" alt="">
                </div>
            </div>
        </div>

        <div class="col-lg-4" style="padding-right: 0;">
            <div class="user">
                <div class="userInfo">
                    <img src="{{vm.userList.img}}" alt="">
                    <div>
                        <div class="username">{{vm.userList.name ||"暂无用户名"}}</div>
                        <div class="userScore">
                            可用积分: <span>{{vm.userList.integral}}</span>
                        </div>
                    </div>
                </div>
                <div class="instructor">
                    <div class="text-center leftIntro" ui-sref="help">
                        <img src="image/store/instuctor.png" alt=""> <br>
                        <span>积分说明</span>
                    </div>
                    <div class="text-center" ui-sref="store({type:1})">
                        <img src="image/store/exchange.png" alt=""> <br>
                        <span>我的兑换</span>
                    </div>
                </div>
            </div>
            <div class="youLike">
                <div class="productTitle">
                    <span>猜你喜欢</span>
                </div>
                <div class="goods" ng-repeat="like in vm.likeList" ui-sref="shop-detail({id:like.id})">
                    <img src="{{like.img}}" alt="">
                    <div>
                        <div class="goodsName">{{like.name}}</div>
                        <div class="goodsPrice">
                            所需积分: <span>{{like.integral}}</span>积分
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<rd-footer></rd-footer>
