<rende-header></rende-header>
<common-search></common-search>
<!--职位详情-->
<div class="work-body">
    <!--搜索-->
    <!--职位详情-->
    <div class="workdetail-banner">
        <span>当前位置：</span>首页 > 职位列表 > 职位详情
    </div>
    <div class="workdetail-body">
        <div class="detail-left">
            <div class="detail-position">
                <div class="detail-position-name">
                    <span>安全工程师或安全员</span>
                    <button>收藏</button>
                </div>
                <div class="detail-position-intr">
                    <span>￥5000-8000</span> | <span>福建-福州-仓山区</span> | <span>不限经验</span> | <span>大专学历</span>
                </div>
                <div class="detail-position-fuli ">
                    <span>法定节假日</span>
                    <span>休假制度</span>
                    <span>奖励计划</span>
                    <span>年终经验</span>
                    <span>综合补贴</span>
                </div>
                <div class="detail-position-time"><span>2018-08-14 更新</span> <span>被浏览： 1 次</span></div>
                <div class="detail-position-put">
                    <button class="detail-position-put-button">投递简历</button>
                    <div class="detail-position-put-r fr">
                        <img src="image/home/server.png" alt="">
                        <span>推荐</span>
                        <img src="image/home/server.png" alt="">
                        <span>微信</span>
                    </div>
                </div>
            </div>
            <!--职位发布人-->
            <div class="detail-position-hr">
                <div class="position-hr-top"><span> 职位发布人</span></div>
                <div class="position-hr-content">
                    <div class="hr-content-f">张经理</div>
                    <div  class="hr-content-s">
                        059
                        <span id="hidenum">*****</span>
                        <span id="shownum" style="display: none">54789</span>
                        65519
                        <button ng-click="vm.shownum()" id="showbtn" >显示号码</button>
                        <button ng-click="vm.hidenum()" id="hidebtn" style="display: none;background-color: red">隐藏号码</button>
                    </div>
                    <div class="hr-content-t">福州市鼓楼区五四路159号世界金龙大厦13层</div>
                    <!--<div class="hr-content-map">地图</div>-->
                    <div class="hr-content-map" id="container"></div>
                </div>
            </div>
            <!--职位描述-->
            <div class="detail-position-hr">
                <div class="position-hr-top"><span>职位描述</span></div>
                <div class="position-hr-content">
                    <div class="hr-content-describe">
                        <p>
                            一，协助工程部队公司在建工程的安全管理，队施工现场出现的安全问题给与指出并纠正。<br>
                            一，协助工程部队公司在建工程的安全管理，队施工现场出现的安全问题给与指出并纠正。<br>
                            一，协助工程部队公司在建工程的安全管理，队施工现场出现的安全问题给与指出并纠正。<br>
                            一，协助工程部队公司在建工程的安全管理，队施工现场出现的安全问题给与指出并纠正。<br>
                            一，协助工程部队公司在建工程的安全管理，队施工现场出现的安全问题给与指出并纠正。<br>
                            一，协助工程部队公司在建工程的安全管理，队施工现场出现的安全问题给与指出并纠正。<br>
                            一，协助工程部队公司在建工程的安全管理，队施工现场出现的安全问题给与指出并纠正。<br>
                        </p>
                          <p class="other-yq">
                            <span>其他要求:</span><br>
                            <p>
                               1：建筑相关专业毕业，3年以上现场安全管理经验<br>
                        2：持有相关证书
                            </p>

                        </p>
                    </div>
                </div>
            </div>
            <!--公司简介-->
            <div class="detail-position-hr">
                <div class="position-hr-top"><span>公司简介</span></div>
                <div class="position-hr-content">
                    <div class="hr-content-describe">
                        <p>
                            福建博业建设集团有限公司成立于2005年，是经国家住建部批准的施工总承包一级企业。具有房屋建筑、市政公用、装饰装修、钢结构、机电安装、土石方、消防等承包资质。业务范围涉及建筑、房地产、代建、BT、贸易、投资、金融等领域。企业专业技术力量雄厚，各类技术人员呈逐年递增趋势。 福州分公司位于五四路CBD核心地段，世界金龙大厦13层，员工近30人，办公面积700平方，现代化装修，办公条件良好，周边交通方便。 公司实行五天七小时工作制(8:30-12:00,14:30-18:00)，一经录用待遇从优！ 公司作为学习型企业，信守公正专注、坚韧创新的经营宗旨，以“人才是企业核心竞争力”为管理理念,与高等院校建立了良好的校企合作关系，公司不断充实新鲜血液，鼓励员工学习深造，为优秀的人才创造一个和谐、富有激情的创业环境，为员工营造宽松、自由发展的空间。以“人才是企业核心竞争力”为管理理念, 以海之包容，广纳天下贤才。不断为优秀的人才创造一个和谐、富有激情的创业环境，为员工营造宽松、自由发展的空间，目前已汇聚来自五湖四海的建筑业精英200多人 。欢迎您加入我们的团队！
                        </p>
                    </div>
                </div>
            </div>
            <!--其他职位-->
            <div class="detail-position-hr">
                <div class="position-hr-top"><span>该公司的其TA职位</span></div>
                <div class="position-hr-content hr-content-other">
                    <div class="hr-content-describe">
                        <div class="">
                            <span>市政类专业高级工程师</span>
                            <button class="detail-position-put-button fr">投递简历</button>
                        </div>
                        <div class="detail-position-intr">
                            <span>福建 福州</span> | <span>薪水： 面议</span> | <span>学历： 大专</span> | <span>专业 ：不限</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ui-sref="companyInfo" class="detail-right">
            <div class="detail-right-company">
                博业
                建设
            </div>
            <div class="detail-right-company-name">福建博业健身集团有限公司福州分公司</div>
            <ul class="company-intr">
               <li>
                   <img src="image/home/server.png" alt="">
                   <span>建筑/房地产</span>
               </li>
                <li>
                    <img src="image/home/server.png" alt="">
                    <span>民营企业</span>
                </li>
                <li>
                    <img src="image/home/server.png" alt="">
                    <span>福建福州</span>
                </li>
                <li>
                    <img src="image/home/server.png" alt="">
                    <span>10-50人</span>
                </li>
            </ul>
        </div>
        <ul class="company-work-manage">
           <li><span>0 份</span> <br>简历投递 </li>
           <li><span>0 %</span> <br>平均回复率 </li>
           <li><span>0 </span> <br>回复时长 </li>
        </ul>

        <div class="detail-right-other">
            <div class="detail-right-other-name"><span>相似职位推荐</span></div>
            <div class=" ">
                <div class="detail-right-other-name-intr">
                    <div class="">
                        <span class="similar-position">市政类专业高级工程师</span>
                    </div>
                    <div class="">
                        <span style="color: red">￥5000-8000</span> | <span>福建-福州-仓山区</span>| <span>专业 ：不限</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<rd-footer></rd-footer>