<rende-header id="header_top"></rende-header>
<common-search></common-search>
<sus-box></sus-box>
<!--找工作-->
<div class="work-body container">
    <!--职位列表-->
    <div class="container checkBox">
        <div>
            <div class="row optRow">
                <span class="all  allType  Type">
                    职位:
                    <span ng-click="vm.clearJobType()" class="choice0 btn">全部</span>
                </span>
                <span  ng-click='vm.getJobType(x,$index+1)'
                       class="Type choice choice0"
                       ng-repeat="x in vm.typeList |limitTo: 6" on-finish-render-filters>
                    <span class="btn"> {{x}}</span>
                </span>
                <select ng-model="vm.selected"
                        ng-change="vm.getType(vm.selected)"
                        class="getMore typeSelect "
                        name="occupations" >
                    <option value="">&emsp;&emsp;更多&emsp;&emsp;</option>
                    <option value="{{x}}" ng-repeat="x in vm.otherTypes">{{x}}</option>
                </select>
            </div>
            <div class="row optRow">
                <span class="salaryBtn">
                    薪资:
                    <span ng-click="vm.clearSalary()" class="all Type allType choice choice1 btn opt">全部</span>
                </span>
                <span  ng-click='vm.getSalary(x,$index+1)'
                       class="Type choice choice1 salaryBtn opt"
                       ng-repeat="x in vm.salaryList">
                    <span class="btn"> {{x}}</span>
                </span>
                <span class="salaryInput">
                    <input ng-model="vm.low" type="number" class="work-input-input" id="startPay">
                     -
                    <input ng-model="vm.high" type="number" class="work-input-input" id="endPay">
                    <button ng-disabled="!vm.low||!vm.high" ng-click="vm.defSalary(vm.low,vm.high)" class="work-input-button btn">确定</button>
                </span>
            </div>
            <div class="row optRow boonRow">
            <span class="opt">
                福利:
                <span ng-click="vm.clearBoon()" class="all allBoon boonOpt btn">全部</span>
            </span>
                <span class="choice choice3 boonOpt"
                      ng-click="vm.getBoon(x.name)"
                      ng-repeat="x in vm.boon"
                      on-finish-render-filters>
                    <span class="btn">
                          {{x.name}}
                    </span>
                </span>
            </div>
            <div class="demand row optRow">
                <span class="ocp ">更多:
                    <span ng-click="vm.clearOthers()" class="opt1 ocp allOptions">全部</span>
                </span>
                <select class="ocp select"
                        id="nature"
                        ng-change="vm.getNature(vm.nature)"
                        ng-model="vm.nature">
                    <option value="">公司性质</option>
                    <option value="{{x.name}}" ng-repeat="x in vm.natureList">{{x.name}}</option>
                </select>
                <select class="ocp select"
                        id="education"
                        ng-change="vm.getEdu(vm.edu)"
                        ng-model="vm.edu">
                    <option value="">学历要求</option>
                    <option value="{{x.name}}" ng-repeat="x in vm.eduList">{{x.name}}</option>
                </select>
                <select ng-change="vm.getExp(vm.exp)"
                        ng-model="vm.exp"
                        id="experience"
                        class="ocp select">
                    <option value="">工作经验</option>
                    <option value="{{x.years}}" ng-repeat="x in vm.expList">{{x.years}}</option>
                </select>
                <select class="ocp select"
                        ng-change="vm.getSex(vm.sex)"
                        id="gender"
                        ng-model="vm.sex">
                    <option value="">性别要求</option>
                    <option value="男">男</option>
                    <option value="女">女</option>

                </select>
                <select class="ocp select"
                        ng-change="vm.getArrival(vm.time)"
                        id="arrival"
                        ng-model="vm.time">
                    <option value="" >到岗时间</option>
                    <option value="{{x.name}}" ng-repeat="x in vm.comeJobList">{{x.name}}</option>
                </select>
            </div>

        </div>
    </div>
    <!--推荐最新职位-->
    <div style="margin:10px;width: 100%">
        <div class="positionLeft write">
            <ul>
                <li class="work-position-l" ui-sref="WorkCtrl({navType:0})">推荐职位</li>
                <li class="work-position-l" ui-sref="WorkCtrl({navType:1})">最新职位</li>
            </ul>

            <div class="position-list" ng-repeat="data in vm.dataList" on-finish-render-filters2>
                <div class="position-name" style="margin-top: 10px;" ui-sref="workDetail({id:data.id,index})" title="点击可查看职位详情">
                    <img src="{{data.img}}" style="width: 86px;height: 83px; border: 1px solid gainsboro;">
                </div>
                <div  class="fl flex-column" ui-sref="workDetail({id:data.id,index})">
                    <div class="positionname fl" style="margin-bottom: 9px;margin-left: 17px;">
                        <div style="font-size: 18px;" class="bolder">{{data.job_type ||"暂无"}}</div>
                        <div class="worksalary redF bolder">￥{{data.start_money||"面议"}}-{{data.end_money||"面议"}}</div>
                        <div class=" grayF workdemand" style="font-size: 14px">
                            <span>{{data.experience||"暂无"}} | </span>
                            <span >{{data.education||"暂无"}} | </span>
                            <span>{{data.area ||"暂无"}}</span>
                        </div>
                    </div>

                </div>
                <div class="fl flex-column" style="margin-top: 23px;margin-left: 30px;" ui-sref="workDetail({id:data.id,index})">
                    <div class="positionname fl bolder" style="margin: 11px 0;font-size: 16px;font-weight: 100;">{{data.name ||"暂无"}}</div>
                    <div class=" grayF workdemand" style="margin-top: 8px;">
                        <span>{{data.c_type ||"不限"}}</span>
                        <span>|{{data.nature ||"不限"}} | </span>
                        <span>{{data.size ||"不限"}}</span>
                    </div>
                </div>
                <div class="fr" style="margin-top: 21px;display: flex;flex-direction: column;">
                    <button class="position-btn" ng-click="vm.throw(data.id,$index)" ng-hide="data.c_id">投个简历</button>
                    <button class="position-btn" ng-if="data.c_id" style="background-color: grey" disabled="disabled">已投递</button>
                    <div class=" grayF workdemand" style="font-size: 12px;">
                        <span>更新时间：{{data.time}}</span>
                    </div>
                </div>
                <div class="position-hr"></div>
            </div>
            <!--<div class=" seeMore text-center workmore">-->
                <!--<img src="image/home/seeMore.png" alt="">-->
            <!--</div>-->
        </div>
        <div class="positionRight write">
            <div class="hot-position"><span >热门职位</span></div>
            <div class="hot-position-list" ng-repeat="data in vm.dataList |limitTo : 4" ui-sref="workDetail({id:data.id,index})" title="点击可查看职位详情">
                <div class="type-name">{{data.job_type||"暂无"}}</div>
                <div class="type-pay">￥{{data.start_money ||"面议"}}-{{data.end_money ||"面议"}}</div>
                <div class="type-intr">{{data.experience ||"不限"}}经验 | {{data.education ||"不限"}}学历 | {{data.address ||"暂无"}}</div>
            </div>
            <div class=" seeMore text-center workmore">
                <img src="image/home/seeMore.png" alt="">
            </div>
        </div>

    </div>

</div>
<div>
    <style type="text/css">
        .pagination p{
            margin:0;
            cursor:pointer
        }
        .pagination{
            height:40px;
            padding:20px 0px;
        }
        .pagination a{
            display:block;
            float:left;
            margin-right:10px;
            padding:2px 12px;
            height:24px;
            border:1px #cccccc solid;
            background:#fff;
            text-decoration:none;
            color:#808080;
            font-size:12px;
            line-height:24px;
        }
        .pagination a:hover{
            color:#077ee3;
            background: white;
            border:1px #077ee3 solid;
        }
        .pagination a.cur{
            border:none;
            background:#077ee3;
            color:#fff;
        }
        .pagination p{
            float:left;
            padding:2px 12px;
            font-size:12px;
            height:24px;
            line-height:24px;
            color:#bbb;
            border:1px #ccc solid;
            background:#fcfcfc;
            margin-right:8px;

        }
        .pagination p.pageRemark{
            border-style:none;
            background:none;
            margin-right:0px;
            padding:4px 0px;
            color:#666;
        }
        .pagination p.pageRemark b{
            color:red;
        }
        .pagination p.pageEllipsis{
            border-style:none;
            background:none;
            padding:4px 0px;
            color:#808080;
        }
        .dates li {font-size: 14px;margin:20px 0}
        .dates li span{float:right}
    </style>
</div>
<div class="container">
    <page-model ng-show="!vm.navType" page="vm.page" total="vm.total" size="vm.size" ></page-model>
</div>
<!--<div class="inner-html">-->
    <!--{{vm.total}}-->
<!--</div>-->
<!--<form action="" method="post">-->
    <!--<input type="text" value="{{vm.aa}}">-->
    <!--<input type="text" value="{{vm.bb}}">-->
    <!--<input type="text" value="{{vm.cc}}">-->
<!--</form>-->
<rd-footer></rd-footer>