<rende-header></rende-header>
<common-search></common-search>
<!--职位详情-->
<div class="work-body">
    <!--搜索-->
    <!--职位详情-->
    <div class="workdetail-banner">
        <span>当前位置：</span>首页 > 职位列表 > 职位详情
    </div>
    <div class="workdetail-body">
        <div class="detail-left">
            <div class="detail-position">
                <div class="detail-position-name">
                    <span>{{vm.info.job_type}}</span>
                    <button>收藏</button>
                </div>
                <div class="detail-position-intr">
                    <span>￥{{vm.info.start_money}}-{{vm.info.end_money}}</span> | <span>{{vm.info.c_address}}</span> | <span>{{vm.info.experience}}工作经验</span> | <span>{{vm.info.education}}学历</span>
                </div>
                <div class="detail-position-fuli ">
                    <span ng-repeat="x in vm.info.boonarr">{{x}}</span>
                </div>
                <div class="detail-position-time">
                    <span>{{vm.info.time}} 更新</span>
                    <span>被浏览： {{vm.info.look_num}} 次</span>
                    <span class="span-r">被收藏： {{vm.browse.likejob}} 次</span>
                </div>
                <div class="detail-position-put">
                    <button class="detail-position-put-button">投递简历</button>
                    <div class="detail-position-put-r fr">
                        <img src="image/home/server.png" alt="">
                        <span>推荐</span>
                        <img src="image/home/server.png" alt="">
                        <span>微信</span>
                    </div>
                </div>
            </div>
            <!--职位发布人-->
            <div class="detail-position-hr">
                <div class="position-hr-top"><span> 职位发布人</span></div>
                <div class="position-hr-content">
                    <div class="hr-content-f">{{vm.info.name}}人事</div>
                    <div  class="hr-content-s">
                        <span id="shownum" style="display: none">{{vm.info.network}}</span>
                        <!--059-->
                        <!--<span id="hidenum">*****</span>-->
                        <!--<span id="shownum" style="display: none">54789</span>-->
                        <!--65519-->
                        <!--<button ng-click="vm.shownum()" id="showbtn" >显示号码</button>-->
                        <!--<button ng-click="vm.hidenum()" id="hidebtn" style="display: none;background-color: red">隐藏号码</button>-->
                    </div>
                    <div class="hr-content-t">{{vm.info.address}}</div>
                    <!--<div class="hr-content-map">地图</div>-->
                    <div class="hr-content-map" id="container"></div>
                </div>
            </div>
            <!--职位描述-->
            <div class="detail-position-hr">
                <div class="position-hr-top"><span>职位描述</span></div>
                <div class="position-hr-content">
                    <div class="hr-content-describe">
                        <p>
                           {{vm.info.position}}
                        </p>
                          <p class="other-yq">
                            <span>其他要求:</span><br>
                            <p>
                              {{vm.info.introduce}}
                            </p>

                        </p>
                    </div>
                </div>
            </div>
            <!--公司简介-->
            <div class="detail-position-hr">
                <div class="position-hr-top"><span>公司简介</span></div>
                <div class="position-hr-content">
                    <div class="hr-content-describe">
                        <p>{{vm.cinfo.introduce}} </p>
                    </div>
                </div>
            </div>
            <!--其他职位-->
            <div class="detail-position-hr">
                <div class="position-hr-top"><span>该公司的其TA职位</span></div>
                <div class="position-hr-content hr-content-other"  ui-sref="workDetail({id:vm.other.id})" >
                    <div class="hr-content-describe">
                        <div class="">
                            <span>{{ vm.other.job_type}}</span>
                            <button class="detail-position-put-button fr">投递简历</button>
                        </div>
                        <div class="detail-position-intr">
                            <span>{{ vm.other.area}}</span> | <span>薪水： {{ vm.other.start_money}}-{{ vm.other.end_money}}</span>
                            | <span>学历： {{ vm.other.education}}</span> | <span>经验 ：{{ vm.other.experience}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ui-sref="companyInfo" class="detail-right">
            <div class="detail-right-company">
             <img src="{{vm.cinfo.img}}">
            </div>
            <div class="detail-right-company-name">{{  vm.cinfo.name}}</div>
            <ul class="company-intr">
               <li>
                   <img src="image/home/server.png" alt="">
                   <span>{{  vm.cinfo.job_type}}</span>
               </li>
                <li>
                    <img src="image/home/server.png" alt="">
                    <span>{{vm.cinfo.nature}}</span>
                </li>
                <li>
                    <img src="image/home/server.png" alt="">
                    <span>{{vm.cinfo.area}}</span>
                </li>
                <li>
                    <img src="image/home/server.png" alt="">
                    <span>{{vm.cinfo.size}}</span>
                </li>
            </ul>
        </div>
        <ul class="company-work-manage">
           <li><span> {{vm.browse.get_resume}} 份</span> <br>简历投递 </li>
           <li><span>0 %</span> <br>平均回复率 </li>
           <li><span>0 </span> <br>回复时长 </li>
        </ul>

        <div class="detail-right-other">
            <div class="detail-right-other-name"><span>相似职位推荐</span></div>
                <div class="detail-right-other-name-intr" ng-repeat="item in  vm.like |limitTo:3">
                    <div class="">
                        <span class="similar-position">{{item.job_type}}</span>
                    </div>
                    <div class="">
                        <span style="color: red">￥{{item.start_money}}-{{item.end_money}}</span> | <span>{{item.area}}</span>| <span>经验 ：{{item.experience}}</span>
                    </div>
                </div>
        </div>
    </div>
</div>
<rd-footer></rd-footer>