<rende-header></rende-header>
<common-search></common-search>
<!--找工作-->
<div class="work-body container">
    <!--职位列表-->
    <div class="work-list">
        <ul>
            <li>职位:</li>
            <li><button class="work-list-allbtn">全部</button></li>
            <li ng-repeat="type in vm.typeList |limitTo: 6">{{type}}</li>
            <li style=" float: right;">
                <select class="moreOpt" name="" id="" style="border: 1px solid red;">
                    <option value="1"  ng-repeat="type in vm.typeList">{{type}}</option>
                </select>
            </li>
        </ul>
        <ul>
            <li>薪资:</li>
            <li><button class="work-list-allbtn">全部</button></li>
            <li>2000以下</li>
            <li>2000-4000</li>
            <li>4000-6000</li>
            <li>6000-8000</li>
            <li>
                <input type="number" class="work-input-input"> - <input type="number" class="work-input-input">
                <button class="work-input-button">确定</button>
            </li>
        </ul>
        <ul>
            <li>福利:</li>
            <li><button class="work-list-allbtn">全部</button></li>
            <li ng-repeat="boonr in vm.show_boonList | limitTo:8">{{boonr.name}}</li>
            <li style=" float: right;">
                <select class="moreOpt" name="" id="" style="border: 1px solid red;">
                    <option value="1" ng-repeat="boonr in vm.show_boonList">{{boonr.name}}</option>
                </select>
            </li>
        </ul>
        <ul>
            <li>更多:</li>
            <li><button class="work-list-allbtn">全部</button></li>
            <li>
                <select name="" id="">
                    <option value="1">公司行业</option>
                    <option value="1"  ng-repeat="type in vm.typeList">{{type}}</option>
                </select>
            </li>
            <li>
                <select name="" id="">
                    <option value="1">学历要求</option>
                </select>
            </li>
            <li>
                <select name="" id="">
                    <option value="1">工作经验</option>
                </select>
            </li>
            <li>
                <select name="" id="">
                    <option value="1">性别要求</option>
                    <option value="1">男</option>
                    <option value="1">女</option>
                </select>
            </li>
            <li>
                <select name="" id="">
                    <option value="1">到岗时间</option>
                </select>
            </li>
        </ul>
    </div>
    <!--推荐最新职位-->
    <div class="work-position">
        <ul>
            <li class="work-position-l" ng-click="vm.type(1)">推荐职位</li>
            <li class="work-position-l" ng-click="vm.type(2)">最新职位</li>
        </ul>
        <div class="position-list" ng-show="vm.a==1" ng-repeat="data in vm.dataList |limitTo : 8">
            <div class="position-name" style="padding: 0px;"><img src="{{data.img}}" style="width: 89px;height: 87px"></div>
            <div ui-sref="workDetail" class="position-list-right">
                <div class="positionname fl">{{data.job_type}}</div>
                <div class="worksalary redF fl">￥{{data.pay}}</div><br>
                <div class="demand grayF workdemand">
                    <span>{{data.experience}}|</span>
                    <span >{{data.education}}|</span>
                    <span>{{data.area}}</span>
                </div>
            </div>
            <div class="position-list-center">
                <div class="positionname fl">{{data.name}}</div><br>
                <div class="demand grayF workdemand">
                    <span>{{data.c_type}}</span>
                    <span>|{{data.nature}}</span>
                    <span>{{data.size}}</span>
                </div>
            </div>
            <div class="position-list-right fr">
                <button class="position-btn">投个简历</button><br>
                <div class="demand grayF workdemand">
                    <span>更新时间：{{data.time}}</span>
                </div>
            </div>
            <div class="position-hr"></div>
        </div>

        <div class="position-list" ng-show="vm.a==2" ng-repeat="data in vm.dataList |limitTo : 8">
            <div class="position-name" style="padding: 0px;"><img src="{{data.img}}" style="width: 89px;height: 87px"></div>
            <div ui-sref="workDetail" class="position-list-right">
                <div class="positionname fl">{{data.job_type}}</div>
                <div class="worksalary redF fl">￥{{data.pay}}</div><br>
                <div class="demand grayF workdemand">
                    <span>{{data.experience}}|</span>
                    <span >{{data.education}}|</span>
                    <span>{{data.address}}</span>
                </div>
            </div>
            <div class="position-list-center">
                <div class="positionname fl">{{data.name}}</div><br>
                <div class="demand grayF workdemand">
                    <span>{{data.c_type}}</span>
                    <span>|{{data.nature}}</span>
                    <span>{{data.size}}</span>
                </div>
            </div>
            <div class="position-list-right fr">
                <button class="position-btn">投个简历</button><br>
                <div class="demand grayF workdemand">
                    <span>更新时间：{{data.time}}</span>
                </div>
            </div>
            <div class="position-hr"></div>
        </div>

        <div class="container seeMore text-center workmore">
            <img src="image/home/seeMore.png" alt="">
        </div>
    </div>
</div>
<rd-footer></rd-footer>