<!--搜索-->
<div class="search_common container">
    <img src="image/home/searchLeft.png" alt="">
    <div>
        <div class="searchBox">
            <input ng-model="keyword" type="text" placeholder="搜索职位、公司或地址"><button ui-sref="WorkCtrl({keyword:'{{keyword}}'})">搜索</button>
        </div>
        <div class="hot_search">
            <span style="color: #f00;">热门搜索:</span>
            <span ui-sref="WorkCtrl({keyword:'{{x.name}}'})" style="cursor: pointer" ng-repeat="x in hotSearch">{{x.name}}</span>
        </div>
    </div>
</div>